**The question that is addressed in this notebook is to find the average age (at the time of winning) trend of winning individuals in each year.**

In [12]:
#Importing all needed modules
import pandas as pd
import numpy as np
import datetime # to handle date/time attributes
from os import listdir # os is a module for interacting with the OS
from os.path import isfile, join # to verify file object, and concatenate paths
import glob # to find pathnames matching a specific pattern
import re # regular expressions :)

import matplotlib as mpl
import matplotlib.pyplot as plt

In [13]:
#Reading the data 
df = pd.read_csv("nobel.csv")

# Display dataframe
df
#Renaming to remove spaces
df.rename(columns={'Organization City':'OrganizationCity',
                          'Organization Country':'OrganizationCountry',
                  'Organization Name':'OrganizationName','Death City':'DeathCity',
                  'Death Country':'DeathCountry','Death Date':'DeathDate',
                   'Full Name':'FullName', 'Birth Date':'BirthDate'
                   
                  }, 
                 inplace=True)

In [14]:
#This is to remove organization records.
age_df = df.loc[df['Laureate Type'] != 'Organization']

#Finding the people where birth date was missing.
age_df.query('BirthDate.isnull() ', engine='python')

,Year,Category,Prize,Motivation,Prize Share,Laureate ID,Laureate Type,FullName,BirthDate,Birth City,Birth Country,Sex,OrganizationName,OrganizationCity,OrganizationCountry,DeathDate,DeathCity,DeathCountry
853,2009,Chemistry,The Nobel Prize in Chemistry 2009,"""for studies of the structure and function of ...",1/3,841,Individual,Venkatraman Ramakrishnan,NaN,"Chidambaram, Tamil Nadu",India,Male,MRC Laboratory of Molecular Biology,Cambridge,United Kingdom,NaN,NaN,NaN
894,2011,Physics,The Nobel Prize in Physics 2011,"""for the discovery of the accelerating expansi...",1/2,864,Individual,Saul Perlmutter,NaN,"Champaign-Urbana, IL",United States of America,Male,Lawrence Berkeley National Laboratory,"Berkeley, CA",United States of America,NaN,NaN,NaN
895,2011,Physics,The Nobel Prize in Physics 2011,"""for the discovery of the accelerating expansi...",1/2,864,Individual,Saul Perlmutter,NaN,"Champaign-Urbana, IL",United States of America,Male,University of California,"Berkeley, CA",United States of America,NaN,NaN,NaN

Since they are just two individuals, we will google and manually impute the missing values.

In [15]:
age_df.loc[age_df['FullName']== 'Venkatraman Ramakrishnan',  'BirthDate'] = '1952-04-01'
age_df.loc[age_df['FullName']== 'Saul Perlmutter',  'BirthDate'] = '1959-09-22'

age_df.query('BirthDate.isnull() ', engine='python')

Empty DataFrame
Columns: [Year, Category, Prize, Motivation, Prize Share, Laureate ID, Laureate Type, FullName, BirthDate, Birth City, Birth Country, Sex, OrganizationName, OrganizationCity, OrganizationCountry, DeathDate, DeathCity, DeathCountry]
Index: []

Now there are no indiviuals with missing birth dates.

Here we drop all columns that are not relevant to our question.

In [16]:
#Dropping columns
age_df = age_df.drop({"Category", "Prize Share", "Laureate ID", "Laureate Type","Sex","Birth City",
                          "Birth Country","OrganizationCountry","OrganizationCity",
                      "OrganizationName","DeathCountry", "DeathDate", "DeathCity", "Prize", "Motivation" }, axis=1)

age_df

     Year                                           FullName   BirthDate
0    1901                       Jacobus Henricus van 't Hoff  1852-08-30
1    1901                                    Sully Prudhomme  1839-03-16
2    1901                             Emil Adolf von Behring  1854-03-15
3    1901                                  Jean Henry Dunant  1828-05-08
4    1901                                     Frédéric Passy  1822-05-20
5    1901                             Wilhelm Conrad Röntgen  1845-03-27
6    1902                               Hermann Emil Fischer  1852-10-09
7    1902                 Christian Matthias Theodor Mommsen  1817-11-30
8    1902                                        Ronald Ross  1857-05-13
9    1902                                      Élie Ducommun  1833-02-19
10   1902                               Charles Albert Gobat  1843-05-21
11   1902                             Hendrik Antoon Lorentz  1853-07-18
12   1902                                      Pieter Zeeman  1865-05-25
13   1903                            Svante August Arrhenius  1859-02-19
14   1903                     Bjørnstjerne Martinus Bjørnson  1832-12-08
15   1903                                Niels Ryberg Finsen  1860-12-15
16   1903                              William Randal Cremer  1828-03-18
17   1903                            Antoine Henri Becquerel  1852-12-15
18   1903                                       Pierre Curie  1859-05-15
19   1903                        Marie Curie, née Sklodowska  1867-11-07
20   1904                                 Sir William Ramsay  1852-10-02
21   1904                                   Frédéric Mistral  1830-09-08
22   1904                        José Echegaray y Eizaguirre  1832-04-19
23   1904                              Ivan Petrovich Pavlov  1849-09-14
25   1904                Lord Rayleigh (John William Strutt)  1842-11-12
26   1905          Johann Friedrich Wilhelm Adolf von Baeyer  1835-10-31
27   1905                                 Henryk Sienkiewicz  1846-05-05
28   1905                                        Robert Koch  1843-12-11
29   1905  Baroness Bertha Sophie Felicita von Suttner, n...  1843-06-09
30   1905                    Philipp Eduard Anton von Lenard  1862-06-07
..    ...                                                ...         ...
938  2014                                    Edvard I. Moser  1962-04-27
939  2014                                  Kailash Satyarthi  1954-01-11
940  2014                                   Malala Yousafzai  1997-07-12
941  2014                                      Isamu Akasaki  1929-01-30
942  2014                                      Isamu Akasaki  1929-01-30
943  2014                                      Hiroshi Amano  1960-09-11
944  2014                                     Shuji Nakamura  1954-05-22
945  2015                                      Tomas Lindahl  1938-01-28
946  2015                                      Tomas Lindahl  1938-01-28
947  2015                                       Paul Modrich  1946-06-13
948  2015                                       Paul Modrich  1946-06-13
949  2015                                        Aziz Sancar  1946-09-08
950  2015                                       Angus Deaton  1945-10-19
951  2015                                Svetlana Alexievich  1948-05-31
952  2015                                William C. Campbell  1930-06-28
953  2015                                      Satoshi Ōmura  1935-07-12
954  2015                                          Youyou Tu  1930-12-30
956  2015                                     Takaaki Kajita  1959-03-09
957  2015                                 Arthur B. McDonald  1943-08-29
958  2016                                Jean-Pierre Sauvage  1944-10-21
959  2016                             Sir J. Fraser Stoddart  1942-05-24
960  2016                                 Bernard L. Feringa  1951-05-18
961  2016                                        Oliver Hart  1948-10-09
962  2016                                    Bengt Holmström  1949-04-18
963  2016                                          Bob Dylan  1941-05-24
964  2016                                   Yoshinori Ohsumi  1945-02-09
965  2016                                 Juan Manuel Santos  1951-08-10
966  2016                                  David J. Thouless  1934-09-21
967  2016                               F. Duncan M. Haldane  1951-09-14
968  2016                              J. Michael Kosterlitz  1943-06-22

[939 rows x 3 columns]

Dropping the duplicates so as not to be counted more than once in our statistic.
The duplicate is where the person has two records in a certain year.

In [18]:
age_df = age_df.drop_duplicates()

Extract the birth year from the birth date and calculate the age at the time of winning the prize.

In [19]:
age_df.BirthDate = age_df.BirthDate.str[:4]
age_df['BirthDate'] = age_df['BirthDate'].astype(int)
age_df['Year'] = age_df['Year'].astype(int)

age_df['Age'] = age_df['Year'] - age_df['BirthDate']
age_df

     Year                                           FullName  BirthDate  Age
0    1901                       Jacobus Henricus van 't Hoff       1852   49
1    1901                                    Sully Prudhomme       1839   62
2    1901                             Emil Adolf von Behring       1854   47
3    1901                                  Jean Henry Dunant       1828   73
4    1901                                     Frédéric Passy       1822   79
5    1901                             Wilhelm Conrad Röntgen       1845   56
6    1902                               Hermann Emil Fischer       1852   50
7    1902                 Christian Matthias Theodor Mommsen       1817   85
8    1902                                        Ronald Ross       1857   45
9    1902                                      Élie Ducommun       1833   69
10   1902                               Charles Albert Gobat       1843   59
11   1902                             Hendrik Antoon Lorentz       1853   49
12   1902                                      Pieter Zeeman       1865   37
13   1903                            Svante August Arrhenius       1859   44
14   1903                     Bjørnstjerne Martinus Bjørnson       1832   71
15   1903                                Niels Ryberg Finsen       1860   43
16   1903                              William Randal Cremer       1828   75
17   1903                            Antoine Henri Becquerel       1852   51
18   1903                                       Pierre Curie       1859   44
19   1903                        Marie Curie, née Sklodowska       1867   36
20   1904                                 Sir William Ramsay       1852   52
21   1904                                   Frédéric Mistral       1830   74
22   1904                        José Echegaray y Eizaguirre       1832   72
23   1904                              Ivan Petrovich Pavlov       1849   55
25   1904                Lord Rayleigh (John William Strutt)       1842   62
26   1905          Johann Friedrich Wilhelm Adolf von Baeyer       1835   70
27   1905                                 Henryk Sienkiewicz       1846   59
28   1905                                        Robert Koch       1843   62
29   1905  Baroness Bertha Sophie Felicita von Suttner, n...       1843   62
30   1905                    Philipp Eduard Anton von Lenard       1862   43
..    ...                                                ...        ...  ...
935  2014                                    Patrick Modiano       1945   69
936  2014                                       John O'Keefe       1939   75
937  2014                                    May-Britt Moser       1963   51
938  2014                                    Edvard I. Moser       1962   52
939  2014                                  Kailash Satyarthi       1954   60
940  2014                                   Malala Yousafzai       1997   17
941  2014                                      Isamu Akasaki       1929   85
943  2014                                      Hiroshi Amano       1960   54
944  2014                                     Shuji Nakamura       1954   60
945  2015                                      Tomas Lindahl       1938   77
947  2015                                       Paul Modrich       1946   69
949  2015                                        Aziz Sancar       1946   69
950  2015                                       Angus Deaton       1945   70
951  2015                                Svetlana Alexievich       1948   67
952  2015                                William C. Campbell       1930   85
953  2015                                      Satoshi Ōmura       1935   80
954  2015                                          Youyou Tu       1930   85
956  2015                                     Takaaki Kajita       1959   56
957  2015                                 Arthur B. McDonald       1943   72
958  2016                                Jean-Pierre Sauvage       1944   72
959  2016                             Sir J. Fraser Stoddart       1942   74
960  2016                                 Bernard L. Feringa       1951   65
961  2016                                        Oliver Hart       1948   68
962  2016                                    Bengt Holmström       1949   67
963  2016                                          Bob Dylan       1941   75
964  2016                                   Yoshinori Ohsumi       1945   71
965  2016                                 Juan Manuel Santos       1951   65
966  2016                                  David J. Thouless       1934   82
967  2016                               F. Duncan M. Haldane       1951   65
968  2016                              J. Michael Kosterlitz       1943   73

[881 rows x 4 columns]

In [31]:
#Displaying mean age of winners in each year.
means = age_df.groupby('Year')['Age'].mean()
print(means)

Year
1901    61.000000
1902    56.285714
1903    52.000000
1904    63.000000
1905    59.200000
1906    56.666667
1907    57.333333
1908    59.142857
1909    58.000000
1910    68.250000
1911    51.500000
1912    49.666667
1913    56.200000
1914    39.666667
1915    42.500000
1916    57.000000
1917    53.333333
1918    55.000000
1919    57.750000
1920    58.200000
1921    55.200000
1922    45.500000
1923    49.200000
1924    53.000000
1925    55.333333
1926    54.000000
1927    62.285714
1928    52.250000
1929    60.428571
1930    52.400000
          ...
1987    55.555556
1988    63.272727
1989    62.555556
1990    64.454545
1991    60.333333
1992    62.857143
1993    57.909091
1994    67.916667
1995    64.181818
1996    58.923077
1997    59.818182
1998    63.416667
1999    62.666667
2000    69.000000
2001    58.714286
2002    70.076923
2003    65.545455
2004    61.250000
2005    69.333333
2006    58.250000
2007    70.545455
2008    68.250000
2009    66.076923
2010    67.181818
2011    58.538462
2012    66.444444
2013    71.416667
2014    57.769231
2015    73.000000
2016    70.636364
Name: Age, Length: 113, dtype: float64

In [ ]:
#Visualizing the average age of winners in each year as 2d plots.
fig, ax = plt.subplots(figsize=(15,7))

#Plotting the mean graph.
age_df.groupby('Year')['Age'].mean().plot(ax=ax)

#Getting the same finding as the above as a vector to be able to plot it as scatter plot.
age_plot = age_df.groupby('Year')['Age'].mean()

#Building the scatter plot.
with mpl.rc_context(rc={'font.family': 'serif', 'font.weight': 'bold', 'font.size': 8}):
    fig = plt.figure(figsize=(6,3))
    ax1 = fig.add_subplot(121)
    ax1.set_xlabel('Year')
    ax1.set_ylabel('Average age of Winners')
    ax1.set_title("Year - Age Plot")
    plt.plot(age_plot, 'r.')
    

    
    plt.tight_layout()

**The graphs show that there is no correlation between the average age of the winners and the year that the prizes were won.**