This notebook aims in cleaning the dataset before starting using it to go over our questions. 

We use several techniques to clean the dataset along the notebook to facilitate the usage of the dataset.

We first import all the possibly needed modules.

In [1]:
import pandas as pd
import numpy as np
import datetime # to handle date/time attributes
from os import listdir # os is a module for interacting with the OS
from os.path import isfile, join # to verify file object, and concatenate paths
import glob # to find pathnames matching a specific pattern
import re # regular expressions :)

We first read the initial csv file into a dataframe that we call ***df***, we rename the columns to facilitate using it without spaces. Certain columns such as ***"DeathCountry", "DeathDate", "DeathCity", "Prize" and "Motivation"*** are dropped as we won't be using them.

The dataset consists of ***989 rows*** and ***14 columns***.

In [2]:
df = pd.read_csv("nobel.csv")

# Display dataframe
df
df.rename(columns={'Organization City':'OrganizationCity',
                          'Organization Country':'OrganizationCountry',
                  'Organization Name':'OrganizationName','Death City':'DeathCity',
                  'Death Country':'DeathCountry','Death Date':'DeathDate',
                   'Full Name':'FullName'
                   
                  }, 
                 inplace=True)

df = df.drop({"DeathCountry", "DeathDate", "DeathCity", "Prize", "Motivation"}, axis=1)
#df = df.drop({"OrganizationCity", "OrganizationName"}, axis=1)



df

,Year,Category,Prize Share,Laureate ID,Laureate Type,FullName,Birth Date,Birth City,Birth Country,Sex,OrganizationName,OrganizationCity,OrganizationCountry
0,1901,Chemistry,1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany
1,1901,Literature,1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN
2,1901,Medicine,1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany
3,1901,Peace,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN
4,1901,Peace,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN
5,1901,Physics,1/1,1,Individual,Wilhelm Conrad Röntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Munich,Germany
6,1902,Chemistry,1/1,161,Individual,Hermann Emil Fischer,1852-10-09,Euskirchen,Prussia (Germany),Male,Berlin University,Berlin,Germany
7,1902,Literature,1/1,571,Individual,Christian Matthias Theodor Mommsen,1817-11-30,Garding,Schleswig (Germany),Male,NaN,NaN,NaN
8,1902,Medicine,1/1,294,Individual,Ronald Ross,1857-05-13,Almora,India,Male,University College,Liverpool,United Kingdom
9,1902,Peace,1/2,464,Individual,Élie Ducommun,1833-02-19,Geneva,Switzerland,Male,NaN,NaN,NaN
10,1902,Peace,1/2,465,Individual,Charles Albert Gobat,1843-05-21,Tramelan,Switzerland,Male,NaN,NaN,NaN
11,1902,Physics,1/2,2,Individual,Hendrik Antoon Lorentz,1853-07-18,Arnhem,Netherlands,Male,Leiden University,Leiden,Netherlands
12,1902,Physics,1/2,3,Individual,Pieter Zeeman,1865-05-25,Zonnemaire,Netherlands,Male,Amsterdam University,Amsterdam,Netherlands
13,1903,Chemistry,1/1,162,Individual,Svante August Arrhenius,1859-02-19,Vik,Sweden,Male,Stockholm University,Stockholm,Sweden
14,1903,Literature,1/1,572,Individual,Bjørnstjerne Martinus Bjørnson,1832-12-08,Kvikne,Norway,Male,NaN,NaN,NaN
15,1903,Medicine,1/1,295,Individual,Niels Ryberg Finsen,1860-12-15,Thorshavn,Faroe Islands (Denmark),Male,Finsen Medical Light Institute,Copenhagen,Denmark
16,1903,Peace,1/1,466,Individual,William Randal Cremer,1828-03-18,Fareham,United Kingdom,Male,NaN,NaN,NaN
17,1903,Physics,1/2,4,Individual,Antoine Henri Becquerel,1852-12-15,Paris,France,Male,École Polytechnique,Paris,France
18,1903,Physics,1/4,5,Individual,Pierre Curie,1859-05-15,Paris,France,Male,École municipale de physique et de chimie indu...,Paris,France
19,1903,Physics,1/4,6,Individual,"Marie Curie, née Sklodowska",1867-11-07,Warsaw,Russian Empire (Poland),Female,NaN,NaN,NaN
20,1904,Chemistry,1/1,163,Individual,Sir William Ramsay,1852-10-02,Glasgow,Scotland,Male,University College,London,United Kingdom
21,1904,Literature,1/2,573,Individual,Frédéric Mistral,1830-09-08,Maillane,France,Male,NaN,NaN,NaN
22,1904,Literature,1/2,574,Individual,José Echegaray y Eizaguirre,1832-04-19,Madrid,Spain,Male,NaN,NaN,NaN
23,1904,Medicine,1/1,296,Individual,Ivan Petrovich Pavlov,1849-09-14,Ryazan,Russia,Male,Military Medical Academy,St. Petersburg,Russia
24,1904,Peace,1/1,467,Organization,Institut de droit international (Institute of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1904,Physics,1/1,8,Individual,Lord Rayleigh (John William Strutt),1842-11-12,"Langford Grove, Maldon, Essex",United Kingdom,Male,Royal Institution of Great Britain,London,United Kingdom
26,1905,Chemistry,1/1,164,Individual,Johann Friedrich Wilhelm Adolf von Baeyer,1835-10-31,Berlin,Prussia (Germany),Male,Munich University,Munich,Germany
27,1905,Literature,1/1,575,Individual,Henryk Sienkiewicz,1846-05-05,Wola Okrzejska,Poland,Male,NaN,NaN,NaN
28,1905,Medicine,1/1,297,Individual,Robert Koch,1843-12-11,Clausthal (Clausthal-Zellerfeld),Germany,Male,Institute for Infectious Diseases,Berlin,Germany
29,1905,Peace,1/1,468,Individual,"Baroness Bertha Sophie Felicita von Suttner, n...",1843-06-09,Prague,Austrian Empire (Czech Republic),Female,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2014,Peace,1/2,913,Individual,Kailash Satyarthi,1954-01-11,Vidisha,India,Male,NaN,NaN,NaN
940,2014,Peace,1/2,914,Individual,Malala Yousafzai,1997-07-12,Mingora,Pakistan,Female,NaN,NaN,NaN
941,2014,Physics,1/3,906,Individual,Isamu Akasaki,1929-01-30,Chiran,Japan,Male,Meijo University,Nagoya,Japan
942,2014,Physics,1/3,906,Individual,Isamu Akasaki,1929-01-30,Chiran,Japan,Male,Nagoya University,Nagoya,Japan
943,2014,Physics,1/3,907,Individual,Hiroshi Amano,1960-09-11,Hamamatsu,Japan,Male,Nagoya University,Nagoya,Japan
944,2014,Physics,1/3,908,Individual,Shuji Nakamura,1954-05-22,Ikata,Japan,Male,University of California,"Santa Barbara, CA",United States of America
945,2015,Chemistry,1/3,921,Individual,Tomas Lindahl,1938-01-28,Stockholm,Sweden,Male,Francis Crick Institute,Hertfordshire,United Kingdom
946,2015,Chemistry,1/3,921,Individual,Tomas Lindahl,1938-01-28,Stockholm,Sweden,Male,Clare Hall Laboratory,Hertfordshire,United Kingdom
947,2015,Chemistry,1/3,922,Individual,Paul Modrich,1946-06-13,"Raton, NM",United States of America,Male,Howard Hughes Medical Institute,"Durham, NC",United States of America
948,2015,Chemistry,1/3,922,Individual,Paul Modrich,1946-06-13,"Raton, NM",United States of America,Male,Duke University School of Medicine,"Durham, NC",United States of America
949,2015,Chemistry,1/3,923,Individual,Aziz Sancar,1946-09-08,Savur,Turkey,Male,University of North Carolina,"Chapel Hill, NC",United States of America
950,2015,Economics,1/1,926,Individual,Angus Deaton,1945-10-19,Edinburgh,United Kingdom,Male,Princeton University,"Princeton, NJ",United States of America
951,2015,Literature,1/1,924,Individual,Svetlana Alexievich,1948-05-31,Ivano-Frankivsk,Ukraine,Female,NaN,NaN,NaN
952,2015,Medicine,1/4,916,Individual,William C. Campbell,1930-06-28,Ramelton,Ireland,Male,Drew University,"Madison, NJ",United States of America
953,2015,Medicine,1/4,917,Individual,Satoshi Ōmura,1935-07-12,Yamanashi Prefecture,Japan,Male,Kitasato University,Tokyo,Japan
954,2015,Medicine,1/2,918,Individual,Youyou Tu,1930-12-30,Zhejiang Ningbo,China,Female,China Academy of Traditional Chinese Medicine,Beijing,China
955,2015,Peace,1/1,925,Organization,National Dialogue Quartet,NaN,NaN,NaN,NaN,NaN,NaN,NaN
956,2015,Physics,1/2,919,Individual,Takaaki Kajita,1959-03-09,Higashimatsuyama,Japan,Male,University of Tokyo,Kashiwa,Japan
957,2015,Physics,1/2,920,Individual,Arthur B. McDonald,1943-08-29,Sydney,Canada,Male,Queen's University,Kingston,Canada
958,2016,Chemistry,1/3,931,Individual,Jean-Pierre Sauvage,1944-10-21,Paris,France,Male,University of Strasbourg,Strasbourg,France
959,2016,Chemistry,1/3,932,Individual,Sir J. Fraser Stoddart,1942-05-24,Edinburgh,United Kingdom,Male,Northwestern University,"Evanston, IL",United States of America
960,2016,Chemistry,1/3,933,Individual,Bernard L. Feringa,1951-05-18,Barger-Compascuum,Netherlands,Male,University of Groningen,Groningen,Netherlands
961,2016,Economics,1/2,935,Individual,Oliver Hart,1948-10-09,London,United Kingdom,Male,Harvard University,"Cambridge, MA",United States of America
962,2016,Economics,1/2,936,Individual,Bengt Holmström,1949-04-18,Helsinki,Finland,Male,Massachusetts Institute of Technology (MIT),"Cambridge, MA",United States of America
963,2016,Literature,1/1,937,Individual,Bob Dylan,1941-05-24,"Duluth, MN",United States of America,Male,NaN,NaN,NaN
964,2016,Medicine,1/1,927,Individual,Yoshinori Ohsumi,1945-02-09,Fukuoka,Japan,Male,Tokyo Institute of Technology,Tokyo,Japan
965,2016,Peace,1/1,934,Individual,Juan Manuel Santos,1951-08-10,Bogotá,Colombia,Male,NaN,NaN,NaN
966,2016,Physics,1/2,928,Individual,David J. Thouless,1934-09-21,Bearsden,United Kingdom,Male,University of Washington,"Seattle, WA",United States of America
967,2016,Physics,1/4,929,Individual,F. Duncan M. Haldane,1951-09-14,London,United Kingdom,Male,Princeton University,"Princeton, NJ",United States of America
968,2016,Physics,1/4,930,Individual,J. Michael Kosterlitz,1943-06-22,Aberdeen,United Kingdom,Male,Brown University,"Providence, RI",United States of America

The following cell is a trial to find a combination of a unique key pair to identify every record uniquely. 
We found that the combination of the columns ***'Laureate ID' and 'Year'*** is the one that gives ***937 different unique values***. We do not continue investigating the unique combination of the columns because we do not need a unique identifier for each record.

In [3]:
#WE DID NOT NEED TO MELT ANY COLUMNS SINCE THE DATA HAD ALREADY NO VALUES IN THE HEADERS OF THE COLUMNS

In [4]:
#df['Laureate ID'].nunique()
grp = df.groupby(['Laureate ID','Year']).size()
grp
#df.query('A > B')

Laureate ID  Year
1            1901    1
2            1902    1
3            1902    1
4            1903    1
5            1903    1
6            1903    1
             1911    1
8            1904    1
9            1905    1
10           1906    1
11           1907    1
12           1908    1
13           1909    1
14           1909    1
15           1910    1
16           1911    1
17           1912    1
18           1913    1
19           1914    1
20           1915    1
21           1915    1
22           1917    1
23           1918    1
24           1919    1
25           1920    1
26           1921    1
27           1922    1
28           1923    1
29           1924    1
30           1925    1
                    ..
908          2014    1
909          2014    1
910          2014    2
911          2014    1
912          2014    1
913          2014    1
914          2014    1
915          2014    1
916          2015    1
917          2015    1
918          2015    1
919          2015    1
920          2015    1
921          2015    2
922          2015    2
923          2015    1
924          2015    1
925          2015    1
926          2015    1
927          2016    1
928          2016    1
929          2016    1
930          2016    1
931          2016    1
932          2016    1
933          2016    1
934          2016    1
935          2016    1
936          2016    1
937          2016    1
Length: 911, dtype: int64

The count of missing values in each column is displayed.

In [5]:
#df['Laureate ID'].value_counts()
#tmp = df.groupby(['Laureate ID','Year','Organization Name', 'Organization City', 'Full Name']).size()
#tmp
#tmp.query(tmp.size()>1)

np.random.seed(0) 

missing_values_count_df = df.isnull().sum()
print(missing_values_count_df)

Year                     0
Category                 0
Prize Share              0
Laureate ID              0
Laureate Type            0
FullName                 0
Birth Date              29
Birth City              28
Birth Country           26
Sex                     26
OrganizationName       247
OrganizationCity       253
OrganizationCountry    253
dtype: int64

We search for the records that have a null value in the ***"OrganizationCountry" field *** but a not null ***"OrganizationCity" field***. We find only one record that we impute the ***"OrganizationCountry"*** by hand with **Tunisia** when **Tunis** was the ***OrganizationCity***.

In [6]:
a = df.query('OrganizationCountry.isnull() ', engine='python')
b = a.query(' OrganizationCity.notnull()', engine='python')
b

,Year,Category,Prize Share,Laureate ID,Laureate Type,FullName,Birth Date,Birth City,Birth Country,Sex,OrganizationName,OrganizationCity,OrganizationCountry
143,1928,Medicine,1/1,318,Individual,Charles Jules Henri Nicolle,1866-09-21,Rouen,France,Male,Institut Pasteur,Tunis,NaN

In [7]:
df.loc[df['OrganizationCity'] == 'Tunis', 'OrganizationCountry'] = 'Tunisia'

In [8]:
c = df.loc[df['OrganizationCity'] == 'Tunis']
c

,Year,Category,Prize Share,Laureate ID,Laureate Type,FullName,Birth Date,Birth City,Birth Country,Sex,OrganizationName,OrganizationCity,OrganizationCountry
143,1928,Medicine,1/1,318,Individual,Charles Jules Henri Nicolle,1866-09-21,Rouen,France,Male,Institut Pasteur,Tunis,Tunisia

We search for the records that have a null value in the ***"OrganizationCountry" field *** with a not null ***"OrganizationName" field ***. This is done in order to find out which organization names need their ***"OrganizationCountry" field *** to be imputed.

In [9]:

a = df.query('OrganizationCountry.isnull() ', engine='python')
b = a.query(' OrganizationName.notnull()', engine='python')
b

,Year,Category,Prize Share,Laureate ID,Laureate Type,FullName,Birth Date,Birth City,Birth Country,Sex,OrganizationName,OrganizationCity,OrganizationCountry
602,1988,Chemistry,1/3,270,Individual,Johann Deisenhofer,1943-09-30,Zusamaltheim,Germany,Male,Howard Hughes Medical Institute,NaN,NaN
727,1999,Medicine,1/1,461,Individual,Günter Blobel,1936-05-21,Waltersdorf (Niegoslawice),Germany (Poland),Male,Howard Hughes Medical Institute,NaN,NaN
775,2003,Chemistry,1/2,770,Individual,Roderick MacKinnon,1956-02-19,"Burlington, MA",United States of America,Male,Howard Hughes Medical Institute,NaN,NaN
830,2007,Medicine,1/3,811,Individual,Mario R. Capecchi,1937-10-06,Verona,Italy,Male,Howard Hughes Medical Institute,NaN,NaN
842,2008,Chemistry,1/3,831,Individual,Roger Y. Tsien,1952-02-01,"New York, NY",United States of America,Male,Howard Hughes Medical Institute,NaN,NaN
855,2009,Chemistry,1/3,842,Individual,Thomas A. Steitz,1940-08-23,"Milwaukee, WI",United States of America,Male,Howard Hughes Medical Institute,NaN,NaN
865,2009,Medicine,1/3,837,Individual,Jack W. Szostak,1952-11-09,London,United Kingdom,Male,Howard Hughes Medical Institute,NaN,NaN
899,2012,Chemistry,1/2,878,Individual,Robert J. Lefkowitz,1943-04-15,"New York, NY",United States of America,Male,Howard Hughes Medical Institute,NaN,NaN
924,2013,Medicine,1/3,885,Individual,Randy W. Schekman,1948-12-30,"St. Paul, MN",United States of America,Male,Howard Hughes Medical Institute,NaN,NaN
926,2013,Medicine,1/3,886,Individual,Thomas C. Südhof,1955-12-22,Göttingen,Germany,Male,Howard Hughes Medical Institute,NaN,NaN

According to the query result above, the organization with the name 'Howard Hughes Medical Institute' needs to be imputed. We try to find a record with the same organization name that has its ***"OrganizationCity" field *** not null.

In [10]:
Organization = df.loc[df['OrganizationName'] == 'Howard Hughes Medical Institute']
Organization = Organization.query(' OrganizationCity.notnull()', engine='python')
Organization

,Year,Category,Prize Share,Laureate ID,Laureate Type,FullName,Birth Date,Birth City,Birth Country,Sex,OrganizationName,OrganizationCity,OrganizationCountry
947,2015,Chemistry,1/3,922,Individual,Paul Modrich,1946-06-13,"Raton, NM",United States of America,Male,Howard Hughes Medical Institute,"Durham, NC",United States of America

In [11]:
cityName = Organization['OrganizationCity'].values[0]
countryName = Organization['OrganizationCountry'].values[0]
print(cityName)

Durham, NC

We impute all records with the previously mentioned missing attribute with the results of the previous query.

In [12]:
df.loc[df['OrganizationName'] == 'Howard Hughes Medical Institute', 'OrganizationCountry'] = countryName
df.loc[df['OrganizationName'] == 'Howard Hughes Medical Institute', 'OrganizationCity'] = cityName

The below query shows the result of the records after imputing them.

In [13]:
df.loc[df['OrganizationName'] == 'Howard Hughes Medical Institute']

,Year,Category,Prize Share,Laureate ID,Laureate Type,FullName,Birth Date,Birth City,Birth Country,Sex,OrganizationName,OrganizationCity,OrganizationCountry
602,1988,Chemistry,1/3,270,Individual,Johann Deisenhofer,1943-09-30,Zusamaltheim,Germany,Male,Howard Hughes Medical Institute,"Durham, NC",United States of America
727,1999,Medicine,1/1,461,Individual,Günter Blobel,1936-05-21,Waltersdorf (Niegoslawice),Germany (Poland),Male,Howard Hughes Medical Institute,"Durham, NC",United States of America
775,2003,Chemistry,1/2,770,Individual,Roderick MacKinnon,1956-02-19,"Burlington, MA",United States of America,Male,Howard Hughes Medical Institute,"Durham, NC",United States of America
830,2007,Medicine,1/3,811,Individual,Mario R. Capecchi,1937-10-06,Verona,Italy,Male,Howard Hughes Medical Institute,"Durham, NC",United States of America
842,2008,Chemistry,1/3,831,Individual,Roger Y. Tsien,1952-02-01,"New York, NY",United States of America,Male,Howard Hughes Medical Institute,"Durham, NC",United States of America
855,2009,Chemistry,1/3,842,Individual,Thomas A. Steitz,1940-08-23,"Milwaukee, WI",United States of America,Male,Howard Hughes Medical Institute,"Durham, NC",United States of America
865,2009,Medicine,1/3,837,Individual,Jack W. Szostak,1952-11-09,London,United Kingdom,Male,Howard Hughes Medical Institute,"Durham, NC",United States of America
899,2012,Chemistry,1/2,878,Individual,Robert J. Lefkowitz,1943-04-15,"New York, NY",United States of America,Male,Howard Hughes Medical Institute,"Durham, NC",United States of America
924,2013,Medicine,1/3,885,Individual,Randy W. Schekman,1948-12-30,"St. Paul, MN",United States of America,Male,Howard Hughes Medical Institute,"Durham, NC",United States of America
926,2013,Medicine,1/3,886,Individual,Thomas C. Südhof,1955-12-22,Göttingen,Germany,Male,Howard Hughes Medical Institute,"Durham, NC",United States of America
947,2015,Chemistry,1/3,922,Individual,Paul Modrich,1946-06-13,"Raton, NM",United States of America,Male,Howard Hughes Medical Institute,"Durham, NC",United States of America

After the above imputation, we check that the number of missing records in the ***"OrganizationCity" field *** and the ***"OrganizationCountry" field *** are reduced.

In [14]:
missing_values_count_df = df.isnull().sum()
print(missing_values_count_df)

Year                     0
Category                 0
Prize Share              0
Laureate ID              0
Laureate Type            0
FullName                 0
Birth Date              29
Birth City              28
Birth Country           26
Sex                     26
OrganizationName       247
OrganizationCity       243
OrganizationCountry    242
dtype: int64

This step is to further make sure that there are no records with ***"OrganizationName" field *** not null and the ***"OrganizationCountry" field *** null.

In [15]:
a = df.query('OrganizationCountry.isnull() ', engine='python')
b = a.query(' OrganizationName.notnull()', engine='python')
b

Empty DataFrame
Columns: [Year, Category, Prize Share, Laureate ID, Laureate Type, FullName, Birth Date, Birth City, Birth Country, Sex, OrganizationName, OrganizationCity, OrganizationCountry]
Index: []

In this step, we tried to find whether there is a record with the ***"OrganizationName" field *** as 'University of Delaware' and ***"OrganizationCity" field *** not null so we could impute the missing records.

In [16]:
df.loc[df['OrganizationName'] == 'University of Delaware']

,Year,Category,Prize Share,Laureate ID,Laureate Type,FullName,Birth Date,Birth City,Birth Country,Sex,OrganizationName,OrganizationCity,OrganizationCountry
871,2010,Chemistry,1/3,851,Individual,Richard F. Heck,1931-08-15,"Springfield, MA",United States of America,Male,University of Delaware,NaN,United States of America

The above query result shows that there are no imputations that can be made.

In [17]:
missing_values_count_df = df.isnull().sum()
print(missing_values_count_df)

Year                     0
Category                 0
Prize Share              0
Laureate ID              0
Laureate Type            0
FullName                 0
Birth Date              29
Birth City              28
Birth Country           26
Sex                     26
OrganizationName       247
OrganizationCity       243
OrganizationCountry    242
dtype: int64

We use an external dataset "nobel_prize_by_winner" in order to help us with some imputations in our original dataset.

In [18]:
external_df1 =  pd.read_csv("./external data/nobel_prize_by_winner.csv")
external_df1

,id,firstname,surname,born,died,borncountry,borncountrycode,borncity,diedcountry,diedcountrycode,diedcity,gender,year,category,overallmotivation,share,motivation,name,city,country
0,846,Elinor,Ostrom,8/7/1933,6/12/2012,USA,US,"Los Angeles, CA",USA,US,"Bloomington, IN",female,2009.0,economics,NaN,2.0,"""for her analysis of economic governance, espe...",Indiana University,"Bloomington, IN",USA
1,846,Elinor,Ostrom,8/7/1933,6/12/2012,USA,US,"Los Angeles, CA",USA,US,"Bloomington, IN",female,2009.0,economics,NaN,2.0,"""for her analysis of economic governance, espe...",Arizona State University,"Tempe, AZ",USA
2,783,Wangari Muta,Maathai,4/1/1940,9/25/2011,Kenya,KE,Nyeri,Kenya,KE,Nairobi,female,2004.0,peace,NaN,1.0,"""for her contribution to sustainable developme...",NaN,NaN,NaN
3,230,Dorothy Crowfoot,Hodgkin,5/12/1910,7/29/1994,Egypt,EG,Cairo,United Kingdom,GB,Shipston-on-Stour,female,1964.0,chemistry,NaN,1.0,"""for her determinations by X-ray techniques of...","University of Oxford, Royal Society",Oxford,United Kingdom
4,918,Youyou,Tu,12/30/1930,0000-00-00,China,CN,Zhejiang Ningbo,NaN,NaN,NaN,female,2015.0,medicine,NaN,2.0,"""for her discoveries concerning a novel therap...",China Academy of Traditional Chinese Medicine,Beijing,China
5,428,Barbara,McClintock,6/16/1902,9/2/1992,USA,US,"Hartford, CT",USA,US,"Huntington, NY",female,1983.0,medicine,NaN,1.0,"""for her discovery of mobile genetic elements""",Cold Spring Harbor Laboratory,"Cold Spring Harbor, NY",USA
6,773,Shirin,Ebadi,6/21/1947,0000-00-00,Iran,IR,Hamadan,NaN,NaN,NaN,female,2003.0,peace,NaN,1.0,"""for her efforts for democracy and human right...",NaN,NaN,NaN
7,597,Grazia,Deledda,09/27/1871,8/15/1936,Italy,IT,"Nuoro, Sardinia",Italy,IT,Rome,female,1926.0,literature,NaN,1.0,"""for her idealistically inspired writings whic...",NaN,NaN,NaN
8,615,Gabriela,Mistral,04/07/1889,1/10/1957,Chile,CL,Vicu_a,USA,US,"Hempstead, NY",female,1945.0,literature,NaN,1.0,"""for her lyric poetry which, inspired by power...",NaN,NaN,NaN
9,782,Elfriede,Jelinek,10/20/1946,0000-00-00,Austria,AT,M�rzzuschlag,NaN,NaN,NaN,female,2004.0,literature,NaN,1.0,"""for her musical flow of voices and counter-vo...",NaN,NaN,NaN
10,553,Aung San Suu Kyi,NaN,6/19/1945,0000-00-00,Burma (now Myanmar),MM,Rangoon (now Yangon),NaN,NaN,NaN,female,1991.0,peace,NaN,1.0,"""for her non-violent struggle for democracy an...",NaN,NaN,NaN
11,640,Nelly,Sachs,12/10/1891,5/12/1970,Germany,DE,Berlin,Sweden,SE,Stockholm,female,1966.0,literature,NaN,2.0,"""for her outstanding lyrical and dramatic writ...",NaN,NaN,NaN
12,924,Svetlana,Alexievich,5/31/1948,0000-00-00,Ukraine,UA,Ivano-Frankivsk,NaN,NaN,NaN,female,2015.0,literature,NaN,1.0,"""for her polyphonic writings, a monument to su...",NaN,NaN,NaN
13,610,Pearl,Buck,06/26/1892,3/6/1973,USA,US,"Hillsboro, WV",USA,US,"Danby, VT",female,1938.0,literature,NaN,1.0,"""for her rich and truly epic descriptions of p...",NaN,NaN,NaN
14,673,Wislawa,Szymborska,7/2/1923,2/1/2012,Poland,PL,Bnin (now K�rnik),Poland,PL,Krak�w,female,1996.0,literature,NaN,1.0,"""for poetry that with ironic precision allows ...",NaN,NaN,NaN
15,843,Ada E.,Yonath,6/22/1939,0000-00-00,British Mandate of Palestine (now Israel),IL,Jerusalem,NaN,NaN,NaN,female,2009.0,chemistry,NaN,3.0,"""for studies of the structure and function of ...",Weizmann Institute of Science,Rehovot,Israel
16,413,Rosalyn,Yalow,7/19/1921,5/30/2011,USA,US,"New York, NY",USA,US,"New York, NY",female,1977.0,medicine,NaN,2.0,"""for the development of radioimmunoassays of p...",Veterans Administration Hospital,"Bronx, NY",USA
17,836,Carol W.,Greider,4/15/1961,0000-00-00,USA,US,"San Diego, CA",NaN,NaN,NaN,female,2009.0,medicine,NaN,3.0,"""for the discovery of how chromosomes are prot...",Johns Hopkins University School of Medicine,"Baltimore, MD",USA
18,835,Elizabeth H.,Blackburn,11/26/1948,0000-00-00,Australia,AU,"Hobart, Tasmania",NaN,NaN,NaN,female,2009.0,medicine,NaN,3.0,"""for the discovery of how chromosomes are prot...",University of California,"San Francisco, CA",USA
19,79,Maria,Goeppert Mayer,6/28/1906,2/20/1972,Germany (now Poland),PL,Kattowitz (now Katowice),USA,US,"San Diego, CA",female,1963.0,physics,NaN,4.0,"""for their discoveries concerning nuclear shel...",University of California,"La Jolla, CA",USA
20,453,Christiane,N�sslein-Volhard,10/20/1942,0000-00-00,Germany,DE,Magdeburg,NaN,NaN,NaN,female,1995.0,medicine,NaN,3.0,"""for their discoveries concerning the genetic ...",Max-Planck-Institut f�r Entwicklungsbiologie,T�bingen,Federal Republic of Germany
21,904,May-Britt,Moser,1/4/1963,0000-00-00,Norway,NO,Fosnav�g,NaN,NaN,NaN,female,2014.0,medicine,NaN,4.0,"""for their discoveries of cells that constitut...",Norwegian University of Science and Technology...,Trondheim,Norway
22,435,Rita,Levi-Montalcini,4/22/1909,12/30/2012,Italy,IT,Turin,Italy,IT,Rome,female,1986.0,medicine,NaN,2.0,"""for their discoveries of growth factors""",Institute of Cell Biology of the C.N.R.,Rome,Italy
23,438,Gertrude B.,Elion,1/23/1918,2/21/1999,USA,US,"New York, NY",USA,US,"Chapel Hill, NC",female,1988.0,medicine,NaN,3.0,"""for their discoveries of important principles...",Wellcome Research Laboratories,"Research Triangle Park, NC",USA
24,775,Linda B.,Buck,1/29/1947,0000-00-00,USA,US,"Seattle, WA",NaN,NaN,NaN,female,2004.0,medicine,NaN,2.0,"""for their discoveries of odorant receptors an...",Fred Hutchinson Cancer Research Center,"Seattle, WA",USA
25,824,Fran�oise,Barr_-Sinoussi,7/30/1947,0000-00-00,France,FR,Paris,NaN,NaN,NaN,female,2008.0,medicine,NaN,4.0,"""for their discovery of human immunodeficiency...","Regulation of Retroviral Infections Unit, Viro...",Paris,France
26,344,Gerty Theresa,"Cori, n_e Radnitz",08/15/1896,10/26/1957,Austria-Hungary (now Czech Republic),CZ,Prague,USA,US,"St. Louis, MO",female,1947.0,medicine,NaN,4.0,"""for their discovery of the course of the cata...",Washington University,"St. Louis, MO",USA
27,869,Ellen,Johnson Sirleaf,10/29/1938,0000-00-00,Liberia,LR,Monrovia,NaN,NaN,NaN,female,2011.0,peace,NaN,3.0,"""for their non-violent struggle for the safety...",NaN,NaN,NaN
28,870,Leymah,Gbowee,2/1/1972,0000-00-00,Liberia,LR,Monrovia,NaN,NaN,NaN,female,2011.0,peace,NaN,3.0,"""for their non-violent struggle for the safety...",NaN,NaN,NaN
29,871,Tawakkol,Karman,2/7/1979,0000-00-00,Yemen,YE,Ta'izz,NaN,NaN,NaN,female,2011.0,peace,NaN,3.0,"""for their non-violent struggle for the safety...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942,500,Carl,von Ossietzky,10/03/1889,5/4/1938,Germany,DE,Hamburg,Germany,DE,Berlin,male,1935.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
943,518,Philip J.,Noel-Baker,11/01/1889,10/8/1982,United Kingdom,GB,London,United Kingdom,GB,London,male,1959.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
944,516,Lester Bowles,Pearson,04/23/1897,12/27/1972,Canada,CA,Toronto,Canada,CA,Ottawa,male,1957.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
945,519,Albert John,Lutuli,00/00/1898,7/21/1967,Southern Rhodesia (now Zimbabwe),ZW,Bulawayo,South Africa,ZA,Stanger,male,1960.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
946,925,National Dialogue Quartet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,2015.0,peace,NaN,1.0,"""for its decisive contribution to the building...",NaN,NaN,NaN
947,893,Organisation for the Prohibition of Chemical W...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,2013.0,peace,NaN,1.0,"""for its extensive efforts to eliminate chemic...",NaN,NaN,NaN
948,881,European Union (EU),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,2012.0,peace,NaN,1.0,"""for over six decades contributed to the advan...",NaN,NaN,NaN
949,818,Intergovernmental Panel on Climate Change (IPCC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,2007.0,peace,NaN,2.0,"""for their efforts to build up and disseminate...",NaN,NaN,NaN
950,810,Grameen Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,2006.0,peace,NaN,2.0,"""for their efforts to create economic and soci...",NaN,NaN,NaN
951,561,Pugwash Conferences on Science and World Affairs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1995.0,peace,NaN,2.0,"""for their efforts to diminish the part played...",NaN,NaN,NaN
952,797,International Atomic Energy Agency (IAEA),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,2005.0,peace,NaN,2.0,"""for their efforts to prevent nuclear energy f...",NaN,NaN,NaN
953,748,United Nations (U.N.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,2001.0,peace,NaN,2.0,"""for their work for a better organized and mor...",NaN,NaN,NaN
954,564,International Campaign to Ban Landmines (ICBL),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1997.0,peace,NaN,2.0,"""for their work for the banning and clearing o...",NaN,NaN,NaN
955,568,M_decins Sans Fronti�res,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1999.0,peace,NaN,1.0,"""in recognition of the organization's pioneeri...",NaN,NaN,NaN
956,467,Institut de droit international (Institute of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1904.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
957,477,Bureau international permanent de la Paix (Per...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1910.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
958,482,Comit_ international de la Croix Rouge (Intern...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1917.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
959,482,Comit_ international de la Croix Rouge (Intern...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1944.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
960,482,Comit_ international de la Croix Rouge (Intern...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1963.0,peace,NaN,2.0,NaN,NaN,NaN,NaN
961,503,Office international Nansen pour les R_fugi_s ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1938.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
962,508,Friends Service Council (The Quakers),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1947.0,peace,NaN,2.0,NaN,NaN,NaN,NaN
963,509,American Friends Service Committee (The Quakers),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1947.0,peace,NaN,2.0,NaN,NaN,NaN,NaN
964,515,Office of the United Nations High Commissioner...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1954.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
965,515,Office of the United Nations High Commissioner...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1981.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
966,523,Ligue des Soci_t_s de la Croix-Rouge (League o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1963.0,peace,NaN,2.0,NaN,NaN,NaN,NaN
967,525,United Nations Children's Fund (UNICEF),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1965.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
968,527,International Labour Organization (I.L.O.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1969.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
969,537,Amnesty International,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1977.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
970,547,International Physicians for the Prevention of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1985.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
971,550,United Nations Peacekeeping Forces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,org,1988.0,peace,NaN,1.0,NaN,NaN,NaN,NaN

Then, we check the number of records with missing values to compare both datasets.

In [19]:
missing_values_count_df1 = external_df1.isnull().sum()
print(df.shape[0])

print(missing_values_count_df)

print(external_df1.shape[0])

print(missing_values_count_df1)

969
Year                     0
Category                 0
Prize Share              0
Laureate ID              0
Laureate Type            0
FullName                 0
Birth Date              29
Birth City              28
Birth Country           26
Sex                     26
OrganizationName       247
OrganizationCity       243
OrganizationCountry    242
dtype: int64
972
id                     0
firstname              6
surname               36
born                  26
died                  26
borncountry           32
borncountrycode       32
borncity              34
diedcountry          371
diedcountrycode      372
diedcity             377
gender                 0
year                   6
category               6
overallmotivation    956
share                  6
motivation            94
name                 252
city                 258
country              258
dtype: int64

Due to the results above, it can be seen that the new dataset has no missing values in the ***"Gender" field ***. Therefore, we merge both datasets in order to make use of this field to impute the missing sex values.

In [20]:
#new_df = pd.merge(df, external_df1, left_on="Laureate ID", right_on="id")
#new_df['Laureate ID',]
#new_df[['Laureate ID','id']]
new_df = pd.merge(df, external_df1, left_on=["Laureate ID","OrganizationName","OrganizationCity","OrganizationCountry"], right_on=["id","name","city","country"], how = 'left')
new_df
#new_df.groupby(['Laureate ID','Year']).size()
#new_df.loc[new_df['Laureate ID'] == 921]

,Year,Category,Prize Share,Laureate ID,Laureate Type,FullName,Birth Date,Birth City,Birth Country,Sex,...,diedcity,gender,year,category,overallmotivation,share,motivation,name,city,country
0,1901,Chemistry,1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,...,Berlin,male,1901.0,chemistry,NaN,1.0,"""in recognition of the extraordinary services ...",Berlin University,Berlin,Germany
1,1901,Literature,1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,...,Ch�tenay,male,1901.0,literature,NaN,1.0,"""in special recognition of his poetic composit...",NaN,NaN,NaN
2,1901,Medicine,1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,...,Marburg,male,1901.0,medicine,NaN,1.0,"""for his work on serum therapy, especially its...",Marburg University,Marburg,Germany
3,1901,Peace,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,...,Heiden,male,1901.0,peace,NaN,2.0,NaN,NaN,NaN,NaN
4,1901,Peace,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,...,Paris,male,1901.0,peace,NaN,2.0,NaN,NaN,NaN,NaN
5,1901,Physics,1/1,1,Individual,Wilhelm Conrad Röntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,...,Munich,male,1901.0,physics,NaN,1.0,"""in recognition of the extraordinary services ...",Munich University,Munich,Germany
6,1902,Chemistry,1/1,161,Individual,Hermann Emil Fischer,1852-10-09,Euskirchen,Prussia (Germany),Male,...,Berlin,male,1902.0,chemistry,NaN,1.0,"""in recognition of the extraordinary services ...",Berlin University,Berlin,Germany
7,1902,Literature,1/1,571,Individual,Christian Matthias Theodor Mommsen,1817-11-30,Garding,Schleswig (Germany),Male,...,Charlottenburg,male,1902.0,literature,NaN,1.0,"""the greatest living master of the art of hist...",NaN,NaN,NaN
8,1902,Medicine,1/1,294,Individual,Ronald Ross,1857-05-13,Almora,India,Male,...,Putney Heath,male,1902.0,medicine,NaN,1.0,"""for his work on malaria, by which he has show...",University College,Liverpool,United Kingdom
9,1902,Peace,1/2,464,Individual,Élie Ducommun,1833-02-19,Geneva,Switzerland,Male,...,Bern,male,1902.0,peace,NaN,2.0,NaN,NaN,NaN,NaN
10,1902,Peace,1/2,465,Individual,Charles Albert Gobat,1843-05-21,Tramelan,Switzerland,Male,...,Bern,male,1902.0,peace,NaN,2.0,NaN,NaN,NaN,NaN
11,1902,Physics,1/2,2,Individual,Hendrik Antoon Lorentz,1853-07-18,Arnhem,Netherlands,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1902,Physics,1/2,3,Individual,Pieter Zeeman,1865-05-25,Zonnemaire,Netherlands,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1903,Chemistry,1/1,162,Individual,Svante August Arrhenius,1859-02-19,Vik,Sweden,Male,...,Stockholm,male,1903.0,chemistry,NaN,1.0,"""in recognition of the extraordinary services ...",Stockholm University,Stockholm,Sweden
14,1903,Literature,1/1,572,Individual,Bjørnstjerne Martinus Bjørnson,1832-12-08,Kvikne,Norway,Male,...,Paris,male,1903.0,literature,NaN,1.0,"""as a tribute to his noble, magnificent and ve...",NaN,NaN,NaN
15,1903,Medicine,1/1,295,Individual,Niels Ryberg Finsen,1860-12-15,Thorshavn,Faroe Islands (Denmark),Male,...,Copenhagen,male,1903.0,medicine,NaN,1.0,"""in recognition of his contribution to the tre...",Finsen Medical Light Institute,Copenhagen,Denmark
16,1903,Peace,1/1,466,Individual,William Randal Cremer,1828-03-18,Fareham,United Kingdom,Male,...,London,male,1903.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
17,1903,Physics,1/2,4,Individual,Antoine Henri Becquerel,1852-12-15,Paris,France,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1903,Physics,1/4,5,Individual,Pierre Curie,1859-05-15,Paris,France,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1903,Physics,1/4,6,Individual,"Marie Curie, née Sklodowska",1867-11-07,Warsaw,Russian Empire (Poland),Female,...,Sallanches,female,1903.0,physics,NaN,4.0,"""in recognition of the extraordinary services ...",NaN,NaN,NaN
20,1904,Chemistry,1/1,163,Individual,Sir William Ramsay,1852-10-02,Glasgow,Scotland,Male,...,High Wycombe,male,1904.0,chemistry,NaN,1.0,"""in recognition of his services in the discove...",University College,London,United Kingdom
21,1904,Literature,1/2,573,Individual,Frédéric Mistral,1830-09-08,Maillane,France,Male,...,Maillane,male,1904.0,literature,NaN,2.0,"""in recognition of the fresh originality and t...",NaN,NaN,NaN
22,1904,Literature,1/2,574,Individual,José Echegaray y Eizaguirre,1832-04-19,Madrid,Spain,Male,...,Madrid,male,1904.0,literature,NaN,2.0,"""in recognition of the numerous and brilliant ...",NaN,NaN,NaN
23,1904,Medicine,1/1,296,Individual,Ivan Petrovich Pavlov,1849-09-14,Ryazan,Russia,Male,...,Leningrad,male,1904.0,medicine,NaN,1.0,"""in recognition of his work on the physiology ...",Military Medical Academy,St. Petersburg,Russia
24,1904,Peace,1/1,467,Organization,Institut de droit international (Institute of ...,NaN,NaN,NaN,NaN,...,NaN,org,1904.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
25,1904,Physics,1/1,8,Individual,Lord Rayleigh (John William Strutt),1842-11-12,"Langford Grove, Maldon, Essex",United Kingdom,Male,...,NaN,male,1904.0,physics,NaN,1.0,"""for his investigations of the densities of th...",Royal Institution of Great Britain,London,United Kingdom
26,1905,Chemistry,1/1,164,Individual,Johann Friedrich Wilhelm Adolf von Baeyer,1835-10-31,Berlin,Prussia (Germany),Male,...,Starnberg,male,1905.0,chemistry,NaN,1.0,"""in recognition of his services in the advance...",Munich University,Munich,Germany
27,1905,Literature,1/1,575,Individual,Henryk Sienkiewicz,1846-05-05,Wola Okrzejska,Poland,Male,...,Vevey,male,1905.0,literature,NaN,1.0,"""because of his outstanding merits as an epic ...",NaN,NaN,NaN
28,1905,Medicine,1/1,297,Individual,Robert Koch,1843-12-11,Clausthal (Clausthal-Zellerfeld),Germany,Male,...,Baden-Baden,male,1905.0,medicine,NaN,1.0,"""for his investigations and discoveries in rel...",Institute for Infectious Diseases,Berlin,Germany
29,1905,Peace,1/1,468,Individual,"Baroness Bertha Sophie Felicita von Suttner, n...",1843-06-09,Prague,Austrian Empire (Czech Republic),Female,...,Vienna,female,1905.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,2014,Peace,1/2,913,Individual,Kailash Satyarthi,1954-01-11,Vidisha,India,Male,...,NaN,male,2014.0,peace,NaN,2.0,"""for their struggle against the suppression of...",NaN,NaN,NaN
948,2014,Peace,1/2,914,Individual,Malala Yousafzai,1997-07-12,Mingora,Pakistan,Female,...,NaN,female,2014.0,peace,NaN,2.0,"""for their struggle against the suppression of...",NaN,NaN,NaN
949,2014,Physics,1/3,906,Individual,Isamu Akasaki,1929-01-30,Chiran,Japan,Male,...,NaN,male,2014.0,physics,NaN,3.0,"""for the invention of efficient blue light-emi...",Meijo University,Nagoya,Japan
950,2014,Physics,1/3,906,Individual,Isamu Akasaki,1929-01-30,Chiran,Japan,Male,...,NaN,male,2014.0,physics,NaN,3.0,"""for the invention of efficient blue light-emi...",Nagoya University,Nagoya,Japan
951,2014,Physics,1/3,907,Individual,Hiroshi Amano,1960-09-11,Hamamatsu,Japan,Male,...,NaN,male,2014.0,physics,NaN,3.0,"""for the invention of efficient blue light-emi...",Nagoya University,Nagoya,Japan
952,2014,Physics,1/3,908,Individual,Shuji Nakamura,1954-05-22,Ikata,Japan,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
953,2015,Chemistry,1/3,921,Individual,Tomas Lindahl,1938-01-28,Stockholm,Sweden,Male,...,NaN,male,2015.0,chemistry,NaN,3.0,"""for mechanistic studies of DNA repair""",Francis Crick Institute,Hertfordshire,United Kingdom
954,2015,Chemistry,1/3,921,Individual,Tomas Lindahl,1938-01-28,Stockholm,Sweden,Male,...,NaN,male,2015.0,chemistry,NaN,3.0,"""for mechanistic studies of DNA repair""",Clare Hall Laboratory,Hertfordshire,United Kingdom
955,2015,Chemistry,1/3,922,Individual,Paul Modrich,1946-06-13,"Raton, NM",United States of America,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
956,2015,Chemistry,1/3,922,Individual,Paul Modrich,1946-06-13,"Raton, NM",United States of America,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
957,2015,Chemistry,1/3,923,Individual,Aziz Sancar,1946-09-08,Savur,Turkey,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
958,2015,Economics,1/1,926,Individual,Angus Deaton,1945-10-19,Edinburgh,United Kingdom,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
959,2015,Literature,1/1,924,Individual,Svetlana Alexievich,1948-05-31,Ivano-Frankivsk,Ukraine,Female,...,NaN,female,2015.0,literature,NaN,1.0,"""for her polyphonic writings, a monument to su...",NaN,NaN,NaN
960,2015,Medicine,1/4,916,Individual,William C. Campbell,1930-06-28,Ramelton,Ireland,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
961,2015,Medicine,1/4,917,Individual,Satoshi Ōmura,1935-07-12,Yamanashi Prefecture,Japan,Male,...,NaN,male,2015.0,medicine,NaN,4.0,"""for their discoveries concerning a novel ther...",Kitasato University,Tokyo,Japan
962,2015,Medicine,1/2,918,Individual,Youyou Tu,1930-12-30,Zhejiang Ningbo,China,Female,...,NaN,female,2015.0,medicine,NaN,2.0,"""for her discoveries concerning a novel therap...",China Academy of Traditional Chinese Medicine,Beijing,China
963,2015,Peace,1/1,925,Organization,National Dialogue Quartet,NaN,NaN,NaN,NaN,...,NaN,org,2015.0,peace,NaN,1.0,"""for its decisive contribution to the building...",NaN,NaN,NaN
964,2015,Physics,1/2,919,Individual,Takaaki Kajita,1959-03-09,Higashimatsuyama,Japan,Male,...,NaN,male,2015.0,physics,NaN,2.0,"""for the discovery of neutrino oscillations, w...",University of Tokyo,Kashiwa,Japan
965,2015,Physics,1/2,920,Individual,Arthur B. McDonald,1943-08-29,Sydney,Canada,Male,...,NaN,male,2015.0,physics,NaN,2.0,"""for the discovery of neutrino oscillations, w...",Queen's University,Kingston,Canada
966,2016,Chemistry,1/3,931,Individual,Jean-Pierre Sauvage,1944-10-21,Paris,France,Male,...,NaN,male,2016.0,chemistry,NaN,3.0,"""for the design and synthesis of molecular mac...",University of Strasbourg,Strasbourg,France
967,2016,Chemistry,1/3,932,Individual,Sir J. Fraser Stoddart,1942-05-24,Edinburgh,United Kingdom,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
968,2016,Chemistry,1/3,933,Individual,Bernard L. Feringa,1951-05-18,Barger-Compascuum,Netherlands,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
969,2016,Economics,1/2,935,Individual,Oliver Hart,1948-10-09,London,United Kingdom,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
970,2016,Economics,1/2,936,Individual,Bengt Holmström,1949-04-18,Helsinki,Finland,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971,2016,Literature,1/1,937,Individual,Bob Dylan,1941-05-24,"Duluth, MN",United States of America,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
972,2016,Medicine,1/1,927,Individual,Yoshinori Ohsumi,1945-02-09,Fukuoka,Japan,Male,...,NaN,male,2016.0,medicine,NaN,1.0,"""for his discoveries of mechanisms for autophagy""",Tokyo Institute of Technology,Tokyo,Japan
973,2016,Peace,1/1,934,Individual,Juan Manuel Santos,1951-08-10,Bogotá,Colombia,Male,...,NaN,male,2016.0,peace,NaN,1.0,"""for his resolute efforts to bring the country...",NaN,NaN,NaN
974,2016,Physics,1/2,928,Individual,David J. Thouless,1934-09-21,Bearsden,United Kingdom,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
975,2016,Physics,1/4,929,Individual,F. Duncan M. Haldane,1951-09-14,London,United Kingdom,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
976,2016,Physics,1/4,930,Individual,J. Michael Kosterlitz,1943-06-22,Aberdeen,United Kingdom,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

To impute the records with the missing Sex values, we find the records with ***"Sex" field *** as null and we display their Laureate ID.

In [21]:
missing_sex_df = df[['Laureate ID','Sex']]
missing_sex_df = df.query('Sex.isnull() ', engine='python')
missing_sex_df = missing_sex_df[['Laureate ID','Sex']]
missing_sex_df = missing_sex_df[['Laureate ID']]
missing_sex_df

     Laureate ID
24           467
61           477
90           482
206          503
222          482
244          508
245          509
295          515
365          482
366          523
383          525
416          527
498          537
543          515
578          547
610          550
682          561
705          564
728          568
754          748
808          797
821          810
833          818
909          881
927          893
955          925

We merge the previous dataframe with the external dataset on ***"ID" field *** and ***"Laureate ID" field *** and on the ***"Gender" field *** and ***"Sex" field ***. We rename the Gender column as Sex and display only the Laureate ID and Sex columns.

In [22]:
sex_df1 = external_df1[['id','gender']]

sex_new_df = pd.merge(missing_sex_df, sex_df1, how='inner', left_on='Laureate ID', right_on='id')
sex_new_df.shape[0]

sex_new_df = sex_new_df.drop_duplicates()
sex_new_df.shape[0]

sex_new_df.rename(columns={'gender':'Sex'}, inplace=True)

sex_new_df = sex_new_df[['Laureate ID', 'Sex']]
sex_new_df

    Laureate ID  Sex
0           467  org
1           477  org
2           482  org
11          503  org
12          508  org
13          509  org
14          515  org
18          523  org
19          525  org
20          527  org
21          537  org
22          547  org
23          550  org
24          561  org
25          564  org
26          568  org
27          748  org
28          797  org
29          810  org
30          818  org
31          881  org
32          893  org
33          925  org

After obtaining the result above, we can see that the only records with missing Sex values are the organizations. We then merge the original dataframe with the newly imputed one to have a final ***"Sex" field *** with no missing values.

In [23]:
new_df = pd.merge(df, sex_new_df, how='left', left_on='Laureate ID', right_on='Laureate ID')
new_df['Sex_x'] = np.where(new_df['Sex_x'].isnull(), new_df['Sex_y'], new_df['Sex_x'])
new_df.loc[new_df['Sex_x'] == 'org']

new_df.rename(columns={'Sex_x':'Sex'}, inplace=True)
new_df = new_df.drop("Sex_y", axis=1)
new_df

,Year,Category,Prize Share,Laureate ID,Laureate Type,FullName,Birth Date,Birth City,Birth Country,Sex,OrganizationName,OrganizationCity,OrganizationCountry
0,1901,Chemistry,1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany
1,1901,Literature,1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN
2,1901,Medicine,1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany
3,1901,Peace,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN
4,1901,Peace,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN
5,1901,Physics,1/1,1,Individual,Wilhelm Conrad Röntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Munich,Germany
6,1902,Chemistry,1/1,161,Individual,Hermann Emil Fischer,1852-10-09,Euskirchen,Prussia (Germany),Male,Berlin University,Berlin,Germany
7,1902,Literature,1/1,571,Individual,Christian Matthias Theodor Mommsen,1817-11-30,Garding,Schleswig (Germany),Male,NaN,NaN,NaN
8,1902,Medicine,1/1,294,Individual,Ronald Ross,1857-05-13,Almora,India,Male,University College,Liverpool,United Kingdom
9,1902,Peace,1/2,464,Individual,Élie Ducommun,1833-02-19,Geneva,Switzerland,Male,NaN,NaN,NaN
10,1902,Peace,1/2,465,Individual,Charles Albert Gobat,1843-05-21,Tramelan,Switzerland,Male,NaN,NaN,NaN
11,1902,Physics,1/2,2,Individual,Hendrik Antoon Lorentz,1853-07-18,Arnhem,Netherlands,Male,Leiden University,Leiden,Netherlands
12,1902,Physics,1/2,3,Individual,Pieter Zeeman,1865-05-25,Zonnemaire,Netherlands,Male,Amsterdam University,Amsterdam,Netherlands
13,1903,Chemistry,1/1,162,Individual,Svante August Arrhenius,1859-02-19,Vik,Sweden,Male,Stockholm University,Stockholm,Sweden
14,1903,Literature,1/1,572,Individual,Bjørnstjerne Martinus Bjørnson,1832-12-08,Kvikne,Norway,Male,NaN,NaN,NaN
15,1903,Medicine,1/1,295,Individual,Niels Ryberg Finsen,1860-12-15,Thorshavn,Faroe Islands (Denmark),Male,Finsen Medical Light Institute,Copenhagen,Denmark
16,1903,Peace,1/1,466,Individual,William Randal Cremer,1828-03-18,Fareham,United Kingdom,Male,NaN,NaN,NaN
17,1903,Physics,1/2,4,Individual,Antoine Henri Becquerel,1852-12-15,Paris,France,Male,École Polytechnique,Paris,France
18,1903,Physics,1/4,5,Individual,Pierre Curie,1859-05-15,Paris,France,Male,École municipale de physique et de chimie indu...,Paris,France
19,1903,Physics,1/4,6,Individual,"Marie Curie, née Sklodowska",1867-11-07,Warsaw,Russian Empire (Poland),Female,NaN,NaN,NaN
20,1904,Chemistry,1/1,163,Individual,Sir William Ramsay,1852-10-02,Glasgow,Scotland,Male,University College,London,United Kingdom
21,1904,Literature,1/2,573,Individual,Frédéric Mistral,1830-09-08,Maillane,France,Male,NaN,NaN,NaN
22,1904,Literature,1/2,574,Individual,José Echegaray y Eizaguirre,1832-04-19,Madrid,Spain,Male,NaN,NaN,NaN
23,1904,Medicine,1/1,296,Individual,Ivan Petrovich Pavlov,1849-09-14,Ryazan,Russia,Male,Military Medical Academy,St. Petersburg,Russia
24,1904,Peace,1/1,467,Organization,Institut de droit international (Institute of ...,NaN,NaN,NaN,org,NaN,NaN,NaN
25,1904,Physics,1/1,8,Individual,Lord Rayleigh (John William Strutt),1842-11-12,"Langford Grove, Maldon, Essex",United Kingdom,Male,Royal Institution of Great Britain,London,United Kingdom
26,1905,Chemistry,1/1,164,Individual,Johann Friedrich Wilhelm Adolf von Baeyer,1835-10-31,Berlin,Prussia (Germany),Male,Munich University,Munich,Germany
27,1905,Literature,1/1,575,Individual,Henryk Sienkiewicz,1846-05-05,Wola Okrzejska,Poland,Male,NaN,NaN,NaN
28,1905,Medicine,1/1,297,Individual,Robert Koch,1843-12-11,Clausthal (Clausthal-Zellerfeld),Germany,Male,Institute for Infectious Diseases,Berlin,Germany
29,1905,Peace,1/1,468,Individual,"Baroness Bertha Sophie Felicita von Suttner, n...",1843-06-09,Prague,Austrian Empire (Czech Republic),Female,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2014,Peace,1/2,913,Individual,Kailash Satyarthi,1954-01-11,Vidisha,India,Male,NaN,NaN,NaN
940,2014,Peace,1/2,914,Individual,Malala Yousafzai,1997-07-12,Mingora,Pakistan,Female,NaN,NaN,NaN
941,2014,Physics,1/3,906,Individual,Isamu Akasaki,1929-01-30,Chiran,Japan,Male,Meijo University,Nagoya,Japan
942,2014,Physics,1/3,906,Individual,Isamu Akasaki,1929-01-30,Chiran,Japan,Male,Nagoya University,Nagoya,Japan
943,2014,Physics,1/3,907,Individual,Hiroshi Amano,1960-09-11,Hamamatsu,Japan,Male,Nagoya University,Nagoya,Japan
944,2014,Physics,1/3,908,Individual,Shuji Nakamura,1954-05-22,Ikata,Japan,Male,University of California,"Santa Barbara, CA",United States of America
945,2015,Chemistry,1/3,921,Individual,Tomas Lindahl,1938-01-28,Stockholm,Sweden,Male,Francis Crick Institute,Hertfordshire,United Kingdom
946,2015,Chemistry,1/3,921,Individual,Tomas Lindahl,1938-01-28,Stockholm,Sweden,Male,Clare Hall Laboratory,Hertfordshire,United Kingdom
947,2015,Chemistry,1/3,922,Individual,Paul Modrich,1946-06-13,"Raton, NM",United States of America,Male,Howard Hughes Medical Institute,"Durham, NC",United States of America
948,2015,Chemistry,1/3,922,Individual,Paul Modrich,1946-06-13,"Raton, NM",United States of America,Male,Duke University School of Medicine,"Durham, NC",United States of America
949,2015,Chemistry,1/3,923,Individual,Aziz Sancar,1946-09-08,Savur,Turkey,Male,University of North Carolina,"Chapel Hill, NC",United States of America
950,2015,Economics,1/1,926,Individual,Angus Deaton,1945-10-19,Edinburgh,United Kingdom,Male,Princeton University,"Princeton, NJ",United States of America
951,2015,Literature,1/1,924,Individual,Svetlana Alexievich,1948-05-31,Ivano-Frankivsk,Ukraine,Female,NaN,NaN,NaN
952,2015,Medicine,1/4,916,Individual,William C. Campbell,1930-06-28,Ramelton,Ireland,Male,Drew University,"Madison, NJ",United States of America
953,2015,Medicine,1/4,917,Individual,Satoshi Ōmura,1935-07-12,Yamanashi Prefecture,Japan,Male,Kitasato University,Tokyo,Japan
954,2015,Medicine,1/2,918,Individual,Youyou Tu,1930-12-30,Zhejiang Ningbo,China,Female,China Academy of Traditional Chinese Medicine,Beijing,China
955,2015,Peace,1/1,925,Organization,National Dialogue Quartet,NaN,NaN,NaN,org,NaN,NaN,NaN
956,2015,Physics,1/2,919,Individual,Takaaki Kajita,1959-03-09,Higashimatsuyama,Japan,Male,University of Tokyo,Kashiwa,Japan
957,2015,Physics,1/2,920,Individual,Arthur B. McDonald,1943-08-29,Sydney,Canada,Male,Queen's University,Kingston,Canada
958,2016,Chemistry,1/3,931,Individual,Jean-Pierre Sauvage,1944-10-21,Paris,France,Male,University of Strasbourg,Strasbourg,France
959,2016,Chemistry,1/3,932,Individual,Sir J. Fraser Stoddart,1942-05-24,Edinburgh,United Kingdom,Male,Northwestern University,"Evanston, IL",United States of America
960,2016,Chemistry,1/3,933,Individual,Bernard L. Feringa,1951-05-18,Barger-Compascuum,Netherlands,Male,University of Groningen,Groningen,Netherlands
961,2016,Economics,1/2,935,Individual,Oliver Hart,1948-10-09,London,United Kingdom,Male,Harvard University,"Cambridge, MA",United States of America
962,2016,Economics,1/2,936,Individual,Bengt Holmström,1949-04-18,Helsinki,Finland,Male,Massachusetts Institute of Technology (MIT),"Cambridge, MA",United States of America
963,2016,Literature,1/1,937,Individual,Bob Dylan,1941-05-24,"Duluth, MN",United States of America,Male,NaN,NaN,NaN
964,2016,Medicine,1/1,927,Individual,Yoshinori Ohsumi,1945-02-09,Fukuoka,Japan,Male,Tokyo Institute of Technology,Tokyo,Japan
965,2016,Peace,1/1,934,Individual,Juan Manuel Santos,1951-08-10,Bogotá,Colombia,Male,NaN,NaN,NaN
966,2016,Physics,1/2,928,Individual,David J. Thouless,1934-09-21,Bearsden,United Kingdom,Male,University of Washington,"Seattle, WA",United States of America
967,2016,Physics,1/4,929,Individual,F. Duncan M. Haldane,1951-09-14,London,United Kingdom,Male,Princeton University,"Princeton, NJ",United States of America
968,2016,Physics,1/4,930,Individual,J. Michael Kosterlitz,1943-06-22,Aberdeen,United Kingdom,Male,Brown University,"Providence, RI",United States of America

We check that the ***"Sex" field *** now has no missing values.

In [24]:
missing_values_count_df = new_df.isnull().sum()
print(missing_values_count_df)

print('\n')

missing_values_count_df1 = external_df1.isnull().sum()
print(missing_values_count_df1)

Year                     0
Category                 0
Prize Share              0
Laureate ID              0
Laureate Type            0
FullName                 0
Birth Date              29
Birth City              28
Birth Country           26
Sex                      0
OrganizationName       247
OrganizationCity       243
OrganizationCountry    242
dtype: int64


id                     0
firstname              6
surname               36
born                  26
died                  26
borncountry           32
borncountrycode       32
borncity              34
diedcountry          371
diedcountrycode      372
diedcity             377
gender                 0
year                   6
category               6
overallmotivation    956
share                  6
motivation            94
name                 252
city                 258
country              258
dtype: int64

We proceed to check if the ***"Birth Date" field *** can be imputed using the external dataset by displaying a dataframe with the ***"Birth Date" field *** and ***"Born" field ***. We discover that the same records of both datasets have missing values in both fields and hence, we cannot impute the ***"Birth Date" field ***.

In [25]:
new_df.rename(columns={'Birth Date':'BirthDate'}, inplace=True)
a = new_df.query('BirthDate.isnull() ', engine='python')
a

,Year,Category,Prize Share,Laureate ID,Laureate Type,FullName,BirthDate,Birth City,Birth Country,Sex,OrganizationName,OrganizationCity,OrganizationCountry
24,1904,Peace,1/1,467,Organization,Institut de droit international (Institute of ...,NaN,NaN,NaN,org,NaN,NaN,NaN
61,1910,Peace,1/1,477,Organization,Bureau international permanent de la Paix (Per...,NaN,NaN,NaN,org,NaN,NaN,NaN
90,1917,Peace,1/1,482,Organization,Comité international de la Croix Rouge (Intern...,NaN,NaN,NaN,org,NaN,NaN,NaN
206,1938,Peace,1/1,503,Organization,Office international Nansen pour les Réfugiés ...,NaN,NaN,NaN,org,NaN,NaN,NaN
222,1944,Peace,1/1,482,Organization,Comité international de la Croix Rouge (Intern...,NaN,NaN,NaN,org,NaN,NaN,NaN
244,1947,Peace,1/2,508,Organization,Friends Service Council (The Quakers),NaN,NaN,NaN,org,NaN,NaN,NaN
245,1947,Peace,1/2,509,Organization,American Friends Service Committee (The Quakers),NaN,NaN,NaN,org,NaN,NaN,NaN
295,1954,Peace,1/1,515,Organization,Office of the United Nations High Commissioner...,NaN,NaN,NaN,org,NaN,NaN,NaN
365,1963,Peace,1/2,482,Organization,Comité international de la Croix Rouge (Intern...,NaN,NaN,NaN,org,NaN,NaN,NaN
366,1963,Peace,1/2,523,Organization,Ligue des Sociétés de la Croix-Rouge (League o...,NaN,NaN,NaN,org,NaN,NaN,NaN
383,1965,Peace,1/1,525,Organization,United Nations Children's Fund (UNICEF),NaN,NaN,NaN,org,NaN,NaN,NaN
416,1969,Peace,1/1,527,Organization,International Labour Organization (I.L.O.),NaN,NaN,NaN,org,NaN,NaN,NaN
498,1977,Peace,1/1,537,Organization,Amnesty International,NaN,NaN,NaN,org,NaN,NaN,NaN
543,1981,Peace,1/1,515,Organization,Office of the United Nations High Commissioner...,NaN,NaN,NaN,org,NaN,NaN,NaN
578,1985,Peace,1/1,547,Organization,International Physicians for the Prevention of...,NaN,NaN,NaN,org,NaN,NaN,NaN
610,1988,Peace,1/1,550,Organization,United Nations Peacekeeping Forces,NaN,NaN,NaN,org,NaN,NaN,NaN
682,1995,Peace,1/2,561,Organization,Pugwash Conferences on Science and World Affairs,NaN,NaN,NaN,org,NaN,NaN,NaN
705,1997,Peace,1/2,564,Organization,International Campaign to Ban Landmines (ICBL),NaN,NaN,NaN,org,NaN,NaN,NaN
728,1999,Peace,1/1,568,Organization,Médecins Sans Frontières,NaN,NaN,NaN,org,NaN,NaN,NaN
754,2001,Peace,1/2,748,Organization,United Nations (U.N.),NaN,NaN,NaN,org,NaN,NaN,NaN
808,2005,Peace,1/2,797,Organization,International Atomic Energy Agency (IAEA),NaN,NaN,NaN,org,NaN,NaN,NaN
821,2006,Peace,1/2,810,Organization,Grameen Bank,NaN,NaN,NaN,org,NaN,NaN,NaN
833,2007,Peace,1/2,818,Organization,Intergovernmental Panel on Climate Change (IPCC),NaN,NaN,NaN,org,NaN,NaN,NaN
853,2009,Chemistry,1/3,841,Individual,Venkatraman Ramakrishnan,NaN,"Chidambaram, Tamil Nadu",India,Male,MRC Laboratory of Molecular Biology,Cambridge,United Kingdom
894,2011,Physics,1/2,864,Individual,Saul Perlmutter,NaN,"Champaign-Urbana, IL",United States of America,Male,Lawrence Berkeley National Laboratory,"Berkeley, CA",United States of America
895,2011,Physics,1/2,864,Individual,Saul Perlmutter,NaN,"Champaign-Urbana, IL",United States of America,Male,University of California,"Berkeley, CA",United States of America
909,2012,Peace,1/1,881,Organization,European Union (EU),NaN,NaN,NaN,org,NaN,NaN,NaN
927,2013,Peace,1/1,893,Organization,Organisation for the Prohibition of Chemical W...,NaN,NaN,NaN,org,NaN,NaN,NaN
955,2015,Peace,1/1,925,Organization,National Dialogue Quartet,NaN,NaN,NaN,org,NaN,NaN,NaN

In [26]:
df2 = pd.merge(a, external_df1, how='inner', left_on='Laureate ID', right_on='id')
df2[['BirthDate', 'born']]

   BirthDate        born
0        NaN         NaN
1        NaN         NaN
2        NaN         NaN
3        NaN         NaN
4        NaN         NaN
5        NaN         NaN
6        NaN         NaN
7        NaN         NaN
8        NaN         NaN
9        NaN         NaN
10       NaN         NaN
11       NaN         NaN
12       NaN         NaN
13       NaN         NaN
14       NaN         NaN
15       NaN         NaN
16       NaN         NaN
17       NaN         NaN
18       NaN         NaN
19       NaN         NaN
20       NaN         NaN
21       NaN         NaN
22       NaN         NaN
23       NaN         NaN
24       NaN         NaN
25       NaN         NaN
26       NaN         NaN
27       NaN         NaN
28       NaN         NaN
29       NaN         NaN
30       NaN         NaN
31       NaN  0000/00/00
32       NaN  0000/00/00
33       NaN  0000/00/00
34       NaN  0000/00/00
35       NaN  0000/00/00
36       NaN         NaN
37       NaN         NaN
38       NaN         NaN

In [27]:
a = new_df.query('OrganizationName.isnull() ', engine='python')
df2 = pd.merge(a, external_df1, how='inner', left_on='Laureate ID', right_on='id')
df2[['OrganizationName', 'name']]
df3 = df2.query('name.notnull() ', engine='python')
df3[['OrganizationName', 'name']]

    OrganizationName                 name
8                NaN  Sorbonne University
114              NaN     Mainz University

In [28]:
a = new_df.query('OrganizationCity.isnull() ', engine='python')
df2 = pd.merge(a, external_df1, how='inner', left_on='Laureate ID', right_on='id')
df2[['OrganizationCity', 'city']]
df3 = df2.query('city.notnull() ', engine='python')
df3[['OrganizationCity', 'city']]

  OrganizationCity   city
8              NaN  Paris

In [29]:
a = new_df.query('OrganizationCountry.isnull() ', engine='python')
df2 = pd.merge(a, external_df1, how='inner', left_on='Laureate ID', right_on='id')
df2[['OrganizationCountry', 'country']]
df3 = df2.query('city.notnull() ', engine='python')
df3[['OrganizationCountry', 'country']]

  OrganizationCountry country
8                 NaN  France

In [30]:
tmp = new_df.query('OrganizationName.isnull() ', engine='python')
tmp2 = tmp[['Category', 'OrganizationName']]
tmp2.groupby(['Category']).size()

Category
Chemistry       2
Economics       2
Literature    113
Medicine        2
Peace         126
Physics         2
dtype: int64

In [31]:
tmp = new_df.query('OrganizationName.notnull() ', engine='python')
tmp2 = tmp[['Category', 'OrganizationName']]
tmp2.groupby(['Category']).size()

Category
Chemistry    192
Economics     81
Medicine     225
Peace          4
Physics      220
dtype: int64

After researching on some of the Nobel Prize Winners in the Literature category, and since there were no records with the Literature category having Organization Name as not null, we came to a conclusion that they are always individuals, not organizations. Therefore, we impute these records with Not Applicable in the ***"Organization Name" field *** and ***"Organization Country" field ***.

In [32]:
mask = ((new_df['OrganizationName'].isnull()) & (new_df['Category'] == 'Literature'))
new_df['OrganizationName'] = new_df['OrganizationName'].mask(mask, 'Not Applicable')


#mask = ((new_df['OrganizationName'].isnull()) & (new_df['Category'] == 'Peace'))
#new_df['OrganizationName'] = new_df['OrganizationName'].mask(mask, 'Not Applicable')

#mask = ((new_df['OrganizationCountry'].isnull()) & (new_df['Category'] == 'Peace'))
#new_df['OrganizationCountry'] = new_df['OrganizationCountry'].mask(mask, 'Not Applicable')

mask = ((new_df['OrganizationCountry'].isnull()) & (new_df['Category'] == 'Literature'))
new_df['OrganizationCountry'] = new_df['OrganizationCountry'].mask(mask, 'Not Applicable')
                                                         

    
new_df = new_df.drop({"OrganizationCity"}, axis=1)
    
    
new_df

,Year,Category,Prize Share,Laureate ID,Laureate Type,FullName,BirthDate,Birth City,Birth Country,Sex,OrganizationName,OrganizationCountry
0,1901,Chemistry,1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Germany
1,1901,Literature,1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,Not Applicable,Not Applicable
2,1901,Medicine,1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Germany
3,1901,Peace,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN
4,1901,Peace,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN
5,1901,Physics,1/1,1,Individual,Wilhelm Conrad Röntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Germany
6,1902,Chemistry,1/1,161,Individual,Hermann Emil Fischer,1852-10-09,Euskirchen,Prussia (Germany),Male,Berlin University,Germany
7,1902,Literature,1/1,571,Individual,Christian Matthias Theodor Mommsen,1817-11-30,Garding,Schleswig (Germany),Male,Not Applicable,Not Applicable
8,1902,Medicine,1/1,294,Individual,Ronald Ross,1857-05-13,Almora,India,Male,University College,United Kingdom
9,1902,Peace,1/2,464,Individual,Élie Ducommun,1833-02-19,Geneva,Switzerland,Male,NaN,NaN
10,1902,Peace,1/2,465,Individual,Charles Albert Gobat,1843-05-21,Tramelan,Switzerland,Male,NaN,NaN
11,1902,Physics,1/2,2,Individual,Hendrik Antoon Lorentz,1853-07-18,Arnhem,Netherlands,Male,Leiden University,Netherlands
12,1902,Physics,1/2,3,Individual,Pieter Zeeman,1865-05-25,Zonnemaire,Netherlands,Male,Amsterdam University,Netherlands
13,1903,Chemistry,1/1,162,Individual,Svante August Arrhenius,1859-02-19,Vik,Sweden,Male,Stockholm University,Sweden
14,1903,Literature,1/1,572,Individual,Bjørnstjerne Martinus Bjørnson,1832-12-08,Kvikne,Norway,Male,Not Applicable,Not Applicable
15,1903,Medicine,1/1,295,Individual,Niels Ryberg Finsen,1860-12-15,Thorshavn,Faroe Islands (Denmark),Male,Finsen Medical Light Institute,Denmark
16,1903,Peace,1/1,466,Individual,William Randal Cremer,1828-03-18,Fareham,United Kingdom,Male,NaN,NaN
17,1903,Physics,1/2,4,Individual,Antoine Henri Becquerel,1852-12-15,Paris,France,Male,École Polytechnique,France
18,1903,Physics,1/4,5,Individual,Pierre Curie,1859-05-15,Paris,France,Male,École municipale de physique et de chimie indu...,France
19,1903,Physics,1/4,6,Individual,"Marie Curie, née Sklodowska",1867-11-07,Warsaw,Russian Empire (Poland),Female,NaN,NaN
20,1904,Chemistry,1/1,163,Individual,Sir William Ramsay,1852-10-02,Glasgow,Scotland,Male,University College,United Kingdom
21,1904,Literature,1/2,573,Individual,Frédéric Mistral,1830-09-08,Maillane,France,Male,Not Applicable,Not Applicable
22,1904,Literature,1/2,574,Individual,José Echegaray y Eizaguirre,1832-04-19,Madrid,Spain,Male,Not Applicable,Not Applicable
23,1904,Medicine,1/1,296,Individual,Ivan Petrovich Pavlov,1849-09-14,Ryazan,Russia,Male,Military Medical Academy,Russia
24,1904,Peace,1/1,467,Organization,Institut de droit international (Institute of ...,NaN,NaN,NaN,org,NaN,NaN
25,1904,Physics,1/1,8,Individual,Lord Rayleigh (John William Strutt),1842-11-12,"Langford Grove, Maldon, Essex",United Kingdom,Male,Royal Institution of Great Britain,United Kingdom
26,1905,Chemistry,1/1,164,Individual,Johann Friedrich Wilhelm Adolf von Baeyer,1835-10-31,Berlin,Prussia (Germany),Male,Munich University,Germany
27,1905,Literature,1/1,575,Individual,Henryk Sienkiewicz,1846-05-05,Wola Okrzejska,Poland,Male,Not Applicable,Not Applicable
28,1905,Medicine,1/1,297,Individual,Robert Koch,1843-12-11,Clausthal (Clausthal-Zellerfeld),Germany,Male,Institute for Infectious Diseases,Germany
29,1905,Peace,1/1,468,Individual,"Baroness Bertha Sophie Felicita von Suttner, n...",1843-06-09,Prague,Austrian Empire (Czech Republic),Female,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
939,2014,Peace,1/2,913,Individual,Kailash Satyarthi,1954-01-11,Vidisha,India,Male,NaN,NaN
940,2014,Peace,1/2,914,Individual,Malala Yousafzai,1997-07-12,Mingora,Pakistan,Female,NaN,NaN
941,2014,Physics,1/3,906,Individual,Isamu Akasaki,1929-01-30,Chiran,Japan,Male,Meijo University,Japan
942,2014,Physics,1/3,906,Individual,Isamu Akasaki,1929-01-30,Chiran,Japan,Male,Nagoya University,Japan
943,2014,Physics,1/3,907,Individual,Hiroshi Amano,1960-09-11,Hamamatsu,Japan,Male,Nagoya University,Japan
944,2014,Physics,1/3,908,Individual,Shuji Nakamura,1954-05-22,Ikata,Japan,Male,University of California,United States of America
945,2015,Chemistry,1/3,921,Individual,Tomas Lindahl,1938-01-28,Stockholm,Sweden,Male,Francis Crick Institute,United Kingdom
946,2015,Chemistry,1/3,921,Individual,Tomas Lindahl,1938-01-28,Stockholm,Sweden,Male,Clare Hall Laboratory,United Kingdom
947,2015,Chemistry,1/3,922,Individual,Paul Modrich,1946-06-13,"Raton, NM",United States of America,Male,Howard Hughes Medical Institute,United States of America
948,2015,Chemistry,1/3,922,Individual,Paul Modrich,1946-06-13,"Raton, NM",United States of America,Male,Duke University School of Medicine,United States of America
949,2015,Chemistry,1/3,923,Individual,Aziz Sancar,1946-09-08,Savur,Turkey,Male,University of North Carolina,United States of America
950,2015,Economics,1/1,926,Individual,Angus Deaton,1945-10-19,Edinburgh,United Kingdom,Male,Princeton University,United States of America
951,2015,Literature,1/1,924,Individual,Svetlana Alexievich,1948-05-31,Ivano-Frankivsk,Ukraine,Female,Not Applicable,Not Applicable
952,2015,Medicine,1/4,916,Individual,William C. Campbell,1930-06-28,Ramelton,Ireland,Male,Drew University,United States of America
953,2015,Medicine,1/4,917,Individual,Satoshi Ōmura,1935-07-12,Yamanashi Prefecture,Japan,Male,Kitasato University,Japan
954,2015,Medicine,1/2,918,Individual,Youyou Tu,1930-12-30,Zhejiang Ningbo,China,Female,China Academy of Traditional Chinese Medicine,China
955,2015,Peace,1/1,925,Organization,National Dialogue Quartet,NaN,NaN,NaN,org,NaN,NaN
956,2015,Physics,1/2,919,Individual,Takaaki Kajita,1959-03-09,Higashimatsuyama,Japan,Male,University of Tokyo,Japan
957,2015,Physics,1/2,920,Individual,Arthur B. McDonald,1943-08-29,Sydney,Canada,Male,Queen's University,Canada
958,2016,Chemistry,1/3,931,Individual,Jean-Pierre Sauvage,1944-10-21,Paris,France,Male,University of Strasbourg,France
959,2016,Chemistry,1/3,932,Individual,Sir J. Fraser Stoddart,1942-05-24,Edinburgh,United Kingdom,Male,Northwestern University,United States of America
960,2016,Chemistry,1/3,933,Individual,Bernard L. Feringa,1951-05-18,Barger-Compascuum,Netherlands,Male,University of Groningen,Netherlands
961,2016,Economics,1/2,935,Individual,Oliver Hart,1948-10-09,London,United Kingdom,Male,Harvard University,United States of America
962,2016,Economics,1/2,936,Individual,Bengt Holmström,1949-04-18,Helsinki,Finland,Male,Massachusetts Institute of Technology (MIT),United States of America
963,2016,Literature,1/1,937,Individual,Bob Dylan,1941-05-24,"Duluth, MN",United States of America,Male,Not Applicable,Not Applicable
964,2016,Medicine,1/1,927,Individual,Yoshinori Ohsumi,1945-02-09,Fukuoka,Japan,Male,Tokyo Institute of Technology,Japan
965,2016,Peace,1/1,934,Individual,Juan Manuel Santos,1951-08-10,Bogotá,Colombia,Male,NaN,NaN
966,2016,Physics,1/2,928,Individual,David J. Thouless,1934-09-21,Bearsden,United Kingdom,Male,University of Washington,United States of America
967,2016,Physics,1/4,929,Individual,F. Duncan M. Haldane,1951-09-14,London,United Kingdom,Male,Princeton University,United States of America
968,2016,Physics,1/4,930,Individual,J. Michael Kosterlitz,1943-06-22,Aberdeen,United Kingdom,Male,Brown University,United States of America

In [33]:
new_df

,Year,Category,Prize Share,Laureate ID,Laureate Type,FullName,BirthDate,Birth City,Birth Country,Sex,OrganizationName,OrganizationCountry
0,1901,Chemistry,1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Germany
1,1901,Literature,1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,Not Applicable,Not Applicable
2,1901,Medicine,1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Germany
3,1901,Peace,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN
4,1901,Peace,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN
5,1901,Physics,1/1,1,Individual,Wilhelm Conrad Röntgen,1845-03-27,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Germany
6,1902,Chemistry,1/1,161,Individual,Hermann Emil Fischer,1852-10-09,Euskirchen,Prussia (Germany),Male,Berlin University,Germany
7,1902,Literature,1/1,571,Individual,Christian Matthias Theodor Mommsen,1817-11-30,Garding,Schleswig (Germany),Male,Not Applicable,Not Applicable
8,1902,Medicine,1/1,294,Individual,Ronald Ross,1857-05-13,Almora,India,Male,University College,United Kingdom
9,1902,Peace,1/2,464,Individual,Élie Ducommun,1833-02-19,Geneva,Switzerland,Male,NaN,NaN
10,1902,Peace,1/2,465,Individual,Charles Albert Gobat,1843-05-21,Tramelan,Switzerland,Male,NaN,NaN
11,1902,Physics,1/2,2,Individual,Hendrik Antoon Lorentz,1853-07-18,Arnhem,Netherlands,Male,Leiden University,Netherlands
12,1902,Physics,1/2,3,Individual,Pieter Zeeman,1865-05-25,Zonnemaire,Netherlands,Male,Amsterdam University,Netherlands
13,1903,Chemistry,1/1,162,Individual,Svante August Arrhenius,1859-02-19,Vik,Sweden,Male,Stockholm University,Sweden
14,1903,Literature,1/1,572,Individual,Bjørnstjerne Martinus Bjørnson,1832-12-08,Kvikne,Norway,Male,Not Applicable,Not Applicable
15,1903,Medicine,1/1,295,Individual,Niels Ryberg Finsen,1860-12-15,Thorshavn,Faroe Islands (Denmark),Male,Finsen Medical Light Institute,Denmark
16,1903,Peace,1/1,466,Individual,William Randal Cremer,1828-03-18,Fareham,United Kingdom,Male,NaN,NaN
17,1903,Physics,1/2,4,Individual,Antoine Henri Becquerel,1852-12-15,Paris,France,Male,École Polytechnique,France
18,1903,Physics,1/4,5,Individual,Pierre Curie,1859-05-15,Paris,France,Male,École municipale de physique et de chimie indu...,France
19,1903,Physics,1/4,6,Individual,"Marie Curie, née Sklodowska",1867-11-07,Warsaw,Russian Empire (Poland),Female,NaN,NaN
20,1904,Chemistry,1/1,163,Individual,Sir William Ramsay,1852-10-02,Glasgow,Scotland,Male,University College,United Kingdom
21,1904,Literature,1/2,573,Individual,Frédéric Mistral,1830-09-08,Maillane,France,Male,Not Applicable,Not Applicable
22,1904,Literature,1/2,574,Individual,José Echegaray y Eizaguirre,1832-04-19,Madrid,Spain,Male,Not Applicable,Not Applicable
23,1904,Medicine,1/1,296,Individual,Ivan Petrovich Pavlov,1849-09-14,Ryazan,Russia,Male,Military Medical Academy,Russia
24,1904,Peace,1/1,467,Organization,Institut de droit international (Institute of ...,NaN,NaN,NaN,org,NaN,NaN
25,1904,Physics,1/1,8,Individual,Lord Rayleigh (John William Strutt),1842-11-12,"Langford Grove, Maldon, Essex",United Kingdom,Male,Royal Institution of Great Britain,United Kingdom
26,1905,Chemistry,1/1,164,Individual,Johann Friedrich Wilhelm Adolf von Baeyer,1835-10-31,Berlin,Prussia (Germany),Male,Munich University,Germany
27,1905,Literature,1/1,575,Individual,Henryk Sienkiewicz,1846-05-05,Wola Okrzejska,Poland,Male,Not Applicable,Not Applicable
28,1905,Medicine,1/1,297,Individual,Robert Koch,1843-12-11,Clausthal (Clausthal-Zellerfeld),Germany,Male,Institute for Infectious Diseases,Germany
29,1905,Peace,1/1,468,Individual,"Baroness Bertha Sophie Felicita von Suttner, n...",1843-06-09,Prague,Austrian Empire (Czech Republic),Female,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
939,2014,Peace,1/2,913,Individual,Kailash Satyarthi,1954-01-11,Vidisha,India,Male,NaN,NaN
940,2014,Peace,1/2,914,Individual,Malala Yousafzai,1997-07-12,Mingora,Pakistan,Female,NaN,NaN
941,2014,Physics,1/3,906,Individual,Isamu Akasaki,1929-01-30,Chiran,Japan,Male,Meijo University,Japan
942,2014,Physics,1/3,906,Individual,Isamu Akasaki,1929-01-30,Chiran,Japan,Male,Nagoya University,Japan
943,2014,Physics,1/3,907,Individual,Hiroshi Amano,1960-09-11,Hamamatsu,Japan,Male,Nagoya University,Japan
944,2014,Physics,1/3,908,Individual,Shuji Nakamura,1954-05-22,Ikata,Japan,Male,University of California,United States of America
945,2015,Chemistry,1/3,921,Individual,Tomas Lindahl,1938-01-28,Stockholm,Sweden,Male,Francis Crick Institute,United Kingdom
946,2015,Chemistry,1/3,921,Individual,Tomas Lindahl,1938-01-28,Stockholm,Sweden,Male,Clare Hall Laboratory,United Kingdom
947,2015,Chemistry,1/3,922,Individual,Paul Modrich,1946-06-13,"Raton, NM",United States of America,Male,Howard Hughes Medical Institute,United States of America
948,2015,Chemistry,1/3,922,Individual,Paul Modrich,1946-06-13,"Raton, NM",United States of America,Male,Duke University School of Medicine,United States of America
949,2015,Chemistry,1/3,923,Individual,Aziz Sancar,1946-09-08,Savur,Turkey,Male,University of North Carolina,United States of America
950,2015,Economics,1/1,926,Individual,Angus Deaton,1945-10-19,Edinburgh,United Kingdom,Male,Princeton University,United States of America
951,2015,Literature,1/1,924,Individual,Svetlana Alexievich,1948-05-31,Ivano-Frankivsk,Ukraine,Female,Not Applicable,Not Applicable
952,2015,Medicine,1/4,916,Individual,William C. Campbell,1930-06-28,Ramelton,Ireland,Male,Drew University,United States of America
953,2015,Medicine,1/4,917,Individual,Satoshi Ōmura,1935-07-12,Yamanashi Prefecture,Japan,Male,Kitasato University,Japan
954,2015,Medicine,1/2,918,Individual,Youyou Tu,1930-12-30,Zhejiang Ningbo,China,Female,China Academy of Traditional Chinese Medicine,China
955,2015,Peace,1/1,925,Organization,National Dialogue Quartet,NaN,NaN,NaN,org,NaN,NaN
956,2015,Physics,1/2,919,Individual,Takaaki Kajita,1959-03-09,Higashimatsuyama,Japan,Male,University of Tokyo,Japan
957,2015,Physics,1/2,920,Individual,Arthur B. McDonald,1943-08-29,Sydney,Canada,Male,Queen's University,Canada
958,2016,Chemistry,1/3,931,Individual,Jean-Pierre Sauvage,1944-10-21,Paris,France,Male,University of Strasbourg,France
959,2016,Chemistry,1/3,932,Individual,Sir J. Fraser Stoddart,1942-05-24,Edinburgh,United Kingdom,Male,Northwestern University,United States of America
960,2016,Chemistry,1/3,933,Individual,Bernard L. Feringa,1951-05-18,Barger-Compascuum,Netherlands,Male,University of Groningen,Netherlands
961,2016,Economics,1/2,935,Individual,Oliver Hart,1948-10-09,London,United Kingdom,Male,Harvard University,United States of America
962,2016,Economics,1/2,936,Individual,Bengt Holmström,1949-04-18,Helsinki,Finland,Male,Massachusetts Institute of Technology (MIT),United States of America
963,2016,Literature,1/1,937,Individual,Bob Dylan,1941-05-24,"Duluth, MN",United States of America,Male,Not Applicable,Not Applicable
964,2016,Medicine,1/1,927,Individual,Yoshinori Ohsumi,1945-02-09,Fukuoka,Japan,Male,Tokyo Institute of Technology,Japan
965,2016,Peace,1/1,934,Individual,Juan Manuel Santos,1951-08-10,Bogotá,Colombia,Male,NaN,NaN
966,2016,Physics,1/2,928,Individual,David J. Thouless,1934-09-21,Bearsden,United Kingdom,Male,University of Washington,United States of America
967,2016,Physics,1/4,929,Individual,F. Duncan M. Haldane,1951-09-14,London,United Kingdom,Male,Princeton University,United States of America
968,2016,Physics,1/4,930,Individual,J. Michael Kosterlitz,1943-06-22,Aberdeen,United Kingdom,Male,Brown University,United States of America

In [34]:
new_df.to_csv('new_nobel.csv')

missing_values_count_df = new_df.isnull().sum()
print(missing_values_count_df)
print('\n')
print(new_df.nunique())

Year                     0
Category                 0
Prize Share              0
Laureate ID              0
Laureate Type            0
FullName                 0
BirthDate               29
Birth City              28
Birth Country           26
Sex                      0
OrganizationName       134
OrganizationCountry    129
dtype: int64


Year                   113
Category                 6
Prize Share              4
Laureate ID            904
Laureate Type            2
FullName               904
BirthDate              868
Birth City             601
Birth Country          121
Sex                      3
OrganizationName       316
OrganizationCountry     31
dtype: int64